{{#if boosts}}
    {{#each boosts}}
        <div class="content-box">
            <div class="content-box-header">
                {{#if this.community}}
                    <img class="postAuthorImage mr-2" alt="Display image for the community '{{this.community.name}}'" src="/images/communities/{{#if this.community.imageEnabled}}{{this.community.image}}{{else}}cake.svg{{/if}}" />
                    <strong>{{this.community.name}}</strong>
                {{else}}
                    <img class="postAuthorImage mr-2" alt="Profile image of @{{this.author.username}}" src="/images/{{#if this.author.imageEnabled}}{{this.author.image}}{{else}}cake.svg{{/if}}" />
                    <strong>Your feed</strong>
                {{/if}} &middot; <span class="text-muted">{{this.parsedTimestamp}}</span>
            </div>
            <div class="content-box-actions">
                  <button type="button" class="button boost-manager-action-button removeBoost" data-post-id="{{this.boostTarget}}" data-boost-id="{{this._id}}"><span class="fa-layers fa-fw">
                      <i class="fas fa-retweet"></i>
                      <i class="fas fa-slash" data-fa-transform="rotate-90"></i>
                  </span> Unboost</button>
            </div>
        </div>
    {{/each}}
{{else}}
    <div class="content-box" style="justify-content:center;">
        <p class="text-muted text-thin">
            Nowhere yet :(
        </p>
    </div>
{{/if}}
