{{#if this.canDisplay}}
    <article class="comment" data-comment-id="{{this._id}}" id="comment-{{this._id}}">
        <header>
            <img alt="Profile image of @{{this.author.username}}" class="author-image" src="/images/{{#if this.author.imageEnabled}}{{this.author.image}}{{else}}cake.svg{{/if}}" />
            <div class="comment-header-container">
                <h3 class="author-name">
                    {{#if this.author.displayName}}
                        <span class="author-display-name">
                            <a href="/{{this.author.username}}">{{this.author.displayName}}</a>
                        </span>
                    {{/if}}
                    <span class="author-username">
                        {{#unless this.author.displayName}}<span style="font-weight:500"><a href="/{{this.author.username}}">{{/unless}}@{{this.author.username}}{{#unless this.author.displayName}}</a></span>{{/unless}}
                    </span>
                    {{#contains ../flaggedUsers this.author.email}}
                        <i class="fas fa-exclamation-triangle user-flag"></i>
                    {{/contains}}
                </h3>
                <div class="comment-header-divider">
                    &middot;
                </div>
                <aside class="timestamp" data-timestamp="{{this.timestampMs}}" onmouseover="resolveTimestamp(this);" ontouchstart="touchResolveTimestamp(this);">
                    {{this.parsedTimestamp}}
                </aside>
            </div>
        </header>
        {{#if this.cachedHTML.fullContentHTML}} {{! sure hope that's in there }}
            <section class="content{{#if isRecent}} recent-comment-content{{/if}}">
                {{{this.cachedHTML.fullContentHTML}}}
            </section>
        {{/if}}
        <footer class="toolbar">
            {{#if this.canReply }}
                {{#if @root.canReply }} {{! Prevents replying to posts in comms where you're not a member, etc.}}
                    <button type="button" class="button comment-toolbar-button reply-to-comment">
                        Reply
                    </button>
                {{/if}}
            {{/if}}
            {{#if this.canDelete }}
                <button type="button" class="button comment-toolbar-button delete-comment" id="{{this._id}}" data-comment-id="{{this._id}}">
                    Delete
                </button>
            {{/if}}
        </footer>
        <section class="replies">
            {{#each this.replies}}
                {{> comment }}
            {{/each}}
        </section>
    </article>
{{else}}
    {{! comment will not be displayed - render it with the reason}}
    <article class="comment" data-comment-id="{{this._id}}">
        {{#if this.deleted}}
            <section class="content comment-deleted-content">
                <p class="comment-deleted-message">Comment deleted</p>
            </section>
        {{else}}
            {{#if this.muted}}
                <section class="content comment-muted-content">
                    <p class="comment-muted-message">Comment hidden</p>
                </section>
            {{/if}}
        {{/if}}
        <footer class="toolbar">
            {{#if this.canReply }}
                {{#if @root.canReply }} {{! Prevents replying to posts in comms where you're not a member, etc.}}
                    <button type="button" class="button comment-toolbar-button reply-to-comment">
                        Reply
                    </button>
                {{/if}}
            {{/if}}
            {{#if this.canDelete }}
                <button type="button" class="button comment-toolbar-button delete-comment" id="{{this._id}}" data-comment-id="{{this._id}}">
                    Delete
                </button>
            {{/if}}
        </footer>
        <section class="replies">
            {{#each this.replies}}
                {{> comment }}
            {{/each}}
        </section>
    </article>
{{/if}}
