<a class="link-preview-container{{#eq type "video"}} embedded-video-preview{{/eq}}" target="_blank" rel="noopener noreferrer"{{#eq type "video"}} embedurl="{{embedUrl}}"{{/eq}} href="{{linkUrl}}">
        {{#if image}}
        {{#eq type "video"}}<div style="position:relative;display:flex;align-items:center;justify-content:center;">{{/eq}}
        <img class="link-preview-image{{#eq type "video"}} embedded-video-preview-image{{/eq}}" src="{{image}}" />
        {{#eq type "video"}}<i class="fas fa-play-circle link-preview-icon"></i>
        </div>{{/eq}}
        {{else}}
        <div class="link-preview-image"><i class="fas fa-link"></i></div>
        {{/if}}
    <div class="link-preview-text-container">
        <span class="link-preview-title">{{title}}</span>
        <span class="link-preview-description">{{description}}</span>
        <span class="link-preview-domain">{{domain}}{{#eq type "video"}} (will open as an embed){{/eq}}</span>
    </div>
</a>
