{{#each posts}}
{{#if canDisplay}}
  {{#isnt this.type "community"}}
    <article class="comment commentContainer" data-post-id="{{this._id}}">
      <div class="row">
        <div class="col commentContent">
          {{#eq this.type "boost"}}
            <p class="text-secondary">
              <i class="fas fa-retweet"></i> Boosted by <strong><a href="/{{this.owner}}" class="text-secondary">@{{this.owner}}</a></strong>
            </p>
          {{/eq}}
          {{#if this.recentlyCommented}}
            {{#isnt this.lastCommentAuthor.username ../loggedInUserData.username}}
              <p class="text-secondary">
                <i class="far fa-comment"></i> Recently commented on by <strong><a href="/{{this.lastCommentAuthor.username}}" class="text-secondary">@{{this.lastCommentAuthor.username}}</a></strong>
              </p>
            {{/isnt}}
          {{/if}}
          {{#eq ../context "community"}}
          {{else}}
            {{#contains ../loggedInUserData.communities this.community._id}}
              <div class="text-secondary d-flex align-items-center mb-3">
                <img alt="Display image for the community '{{this.community.name}}'" style="width:20px;height:20px;border-radius:2px;" class="postAuthorImage mr-1" src="/images/communities/{{#if this.community.imageEnabled}}{{this.community.image}}{{else}}cake.svg{{/if}}" />
                <span>
                  Posted in <strong><a href="/community/{{this.community.slug}}" class="text-secondary">{{this.community.name}}</a></strong>
                </span>
              </div>
            {{/contains}}
          {{/eq}}
          <div class="mb-3 d-flex">
            <img alt="Profile image of @{{this.author.username}}" class="postAuthorImage" src="/images/{{#if this.author.imageEnabled}}{{this.author.image}}{{else}}cake.svg{{/if}}" />
            <div class="post-header">
              <div class="post-header-row-1">
                {{#if this.author.displayName}}
                <div class="author-display-name">
                  <strong><a class="authorLink" href="/{{this.author.username}}">{{this.author.displayName}}</a></strong>
                </div>
                <div class="author-username">
                  <span class="text-muted">@{{this.author.username}}</span>
                </div>
                {{else}}
                  <div class="author-username">
                    <strong><a class="authorLink" href="/{{this.author.username}}">@{{this.author.username}}</a></strong>
                  </div>
                {{/if}} {{#contains ../flaggedUsers this.author.email}}<i class="fas fa-exclamation-triangle text-danger user-flag"></i>{{/contains}}
              </div>
              <div class="post-header-row-2">
                <div class="post-timestamp-privacy">
                  <small class="commentTimestamp text-muted">{{this.parsedTimestamp}}</small><small class="text-muted"> &middot; {{#eq this.privacy "public"}}<i class="fas fa-eye"></i>{{else}}<i class="fas fa-eye-slash">{{/eq}}</i></small>
                </div>
              </div>
            </div>
          </div>
          <div class="post-content {{#if this.contentWarnings}}content-warning-post{{/if}}">
            {{#if this.contentWarnings}}
              <p class="content-warning">
                {{this.contentWarnings}}
              </p>
              <a class="content-warning-show-more" data-state="contracted">Show post</a>
              <div class="abbreviated-content content-warning-content" style="height:0">
                {{{this.parsedContent}}}
              </div>
            {{else}}
              {{{this.parsedContent}}}
            {{/if}}
          </div>
          {{#if this.images}}
            <div class="post-images {{#if this.contentWarnings}}content-warning-images{{/if}}">
              {{#each this.images}}
                <img alt="{{#if ../this.imageDescriptions}}{{../this.imageDescriptions}} (posted by {{../this.author.username}}){{else}}Image posted by {{../this.author.username}}{{#if ../this.imageTags}}, which may contain: {{../this.imageTags}}{{/if}}{{/if}}" class="post-single-image" src="{{this}}" data-featherlight="{{this}}"/>
              {{/each}}
            </div>
          {{/if}}
        </div>
      </div>
      <div class="row commentMetadata">
        <div class="col" style="display:flex;justify-content:space-between;">
          <div id="generalTools">
            {{#unless this.commentsDisabled}}
              {{#if ../loggedIn}}
                <button type="button" class="btn btn-link btn-sm openReplyBox  post-action-button">
                  <i class="far fa-comment"></i> {{#if this.numberOfComments}}({{this.numberOfComments}}){{/if}}
                </button>
              {{else}}
                {{#if this.numberOfComments}}
                  <button type="button" class="btn btn-link btn-sm openReplyBox  post-action-button">
                    <i class="far fa-comment"></i> {{#if this.numberOfComments}}({{this.numberOfComments}}){{/if}}
                  </button>
                {{/if}}
              {{/if}}
            {{/unless}}
            {{#eq this.privacy "public"}}
              {{#if ../loggedIn}}
                <form class="d-inline" action="/createboost/{{this._id}}" method="post">
                  <button type="submit" class="btn btn-link btn-sm boostPost  post-action-button">
                    <i class="fas fa-retweet"></i>
                  </button>
                </form>
              {{/if}}
            {{/eq}}
            <a class="btn btn-link btn-sm post-action-button" href="/{{this.author.username}}/{{this.url}}">
              <i class="fas fa-link"></i>
            </a>
          </div>
          <div id="authorTools">
            {{#contains this.subscribedUsers ../loggedInUserData._id}}
              <button type="button" class="btn btn-link btn-sm mutePost post-action-button" data-post-id="{{this._id}}" data-toggle="tooltip" data-placement="left" title="Receiving notifications (click to change)">
                <i class="far fa-bell"></i>
              </button>
            {{/contains}}
            {{#contains this.unsubscribedUsers ../loggedInUserData._id}}
              <button type="button" class="btn btn-link btn-sm unmutePost post-action-button" data-post-id="{{this._id}}" data-toggle="tooltip" data-placement="left" title="Not receiving notifications (click to change)">
                <i class="far fa-bell-slash"></i>
              </button>
            {{/contains}}
            {{#eq ../loggedInUserData.username this.owner}}
              <button type="submit" class="btn btn-link btn-sm deletePost  post-action-button" id="{{this.deleteid}}">
                <i class="far fa-trash-alt"></i>
              </button>
            {{/eq}}
          </div>
        </div>
      </div>
      {{#unless this.commentsDisabled}}
        <div class="row replyContainer">
          <div class="repliesContainer">
          {{#if this.comments}}
            {{#each this.comments}}
            <div class="individualReplyContainer">
              <div class="mb-1 d-flex">
                <img alt="Profile image of @{{this.author.username}}" class="postAuthorImage" style="width:25px;height:25px;border-radius:3px;" src="/images/{{#if this.author.imageEnabled}}{{this.author.image}}{{else}}cake.svg{{/if}}" />
                <div class="comment-header">
                  <div class="comment-header-row-1">
                    {{#if this.author.displayName}}
                      <div class="author-display-name">
                        <strong><a class="authorLink" href="/{{this.author.username}}">{{this.author.displayName}}</a></strong>
                      </div>
                      <div class="author-username">
                        <span class="text-muted">@{{this.author.username}}</span>
                      </div>
                    {{else}}
                      <div class="author-username">
                        <strong><a class="authorLink" href="/{{this.author.username}}">@{{this.author.username}}</a></strong>
                      </div>
                    {{/if}} {{#contains ../../flaggedUsers this.author.email}}<i class="fas fa-exclamation-triangle text-danger user-flag"></i>{{/contains}}
                    <div class="comment-header-divider">
                      &middot;
                    </div>
                    <div class="commentTimestamp">
                      <small class="commentTimestamp text-muted">{{this.parsedTimestamp}}</small>
                    </div>
                    <button type="button" class="btn btn-link btn-xs replyToComment comment-button" data-username="{{this.author.username}}">
                      <i class="fas fa-reply"></i>
                    </button>
                    {{#if this.canDelete }}
                      <button type="button" class="btn btn-link btn-xs deleteComment comment-button" id="{{this._id}}" data-post-id="{{../_id}}" data-comment-id="{{this._id}}">
                        &times;
                      </button>
                    {{/if}}
                  </div>
                </div>
              </div>
              {{{this.parsedContent}}}
            </div>
            {{/each}}
            {{/if}}
          </div>
          {{#if ../loggedIn}}
            {{> newreplyform }}
          {{/if}}
        </div>
      {{/unless}}
    </article>
  {{else}}
    {{#contains ../loggedInUserData.communities this.community._id}}
      {{!-- SECTION: Community post and the user is a member of this community --}}
      <article class="comment commentContainer" data-post-id="{{this._id}}">
        <div class="row">
          <div class="col commentContent">
            {{#eq this.type "boost"}}
              <p class="text-secondary">
                <i class="fas fa-retweet"></i> Boosted by <strong><a href="/{{this.owner}}" class="text-secondary">@{{this.owner}}</a></strong>
              </p>
            {{/eq}}
            {{#if this.recentlyCommented}}
              {{#isnt this.lastCommentAuthor.username ../loggedInUserData.username}}
                <p class="text-secondary">
                  <i class="far fa-comment"></i> Recently commented on by <strong><a href="/{{this.lastCommentAuthor.username}}" class="text-secondary">@{{this.lastCommentAuthor.username}}</a></strong>
                </p>
              {{/isnt}}
            {{/if}}
            {{#isnt ../context "community"}}
              <div class="text-secondary d-flex align-items-center mb-3">
                <img alt="Display image for the community '{{this.community.name}}'" style="width:20px;height:20px;border-radius:2px;" class="postAuthorImage mr-1" src="/images/communities/{{#if this.community.imageEnabled}}{{this.community.image}}{{else}}cake.svg{{/if}}" />
                <span>
                  Posted in <strong><a href="/community/{{this.community.slug}}" class="text-secondary">{{this.community.name}}</a></strong>
                </span>
              </div>
            {{/isnt}}
            <div class="mb-3 d-flex">
              <img alt="Profile image of @{{this.author.username}}" class="postAuthorImage" src="/images/{{#if this.author.imageEnabled}}{{this.author.image}}{{else}}cake.svg{{/if}}" />
              <div class="post-header">
                <div class="post-header-row-1">
                  {{#if this.author.displayName}}
                  <div class="author-display-name">
                    <strong><a class="authorLink" href="/{{this.author.username}}">{{this.author.displayName}}</a></strong>
                  </div>
                  <div class="author-username">
                    <span class="text-muted">@{{this.author.username}}</span>
                  </div>
                  {{else}}
                    <div class="author-username">
                      <strong><a class="authorLink" href="/{{this.author.username}}">@{{this.author.username}}</a></strong>
                    </div>
                  {{/if}} {{#contains ../flaggedUsers this.author.email}}<i class="fas fa-exclamation-triangle text-danger user-flag"></i>{{/contains}}
                </div>
                <div class="post-header-row-2">
                  <div class="post-timestamp-privacy">
                    <small class="commentTimestamp text-muted">{{this.parsedTimestamp}}</small><small class="text-muted"> &middot; {{#eq this.privacy "public"}}<i class="fas fa-eye"></i>{{else}}<i class="fas fa-eye-slash">{{/eq}}</i></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="post-content {{#if this.contentWarnings}}content-warning-post{{/if}}">
              {{#if this.contentWarnings}}
                <p class="content-warning">
                  {{this.contentWarnings}}
                </p>
                <a class="content-warning-show-more" data-state="contracted">Show post</a>
                <div class="abbreviated-content content-warning-content" style="height:0">
                  {{{this.parsedContent}}}
                </div>
              {{else}}
                {{{this.parsedContent}}}
              {{/if}}
            </div>
            {{#if this.images}}
              <div class="post-images {{#if this.contentWarnings}}content-warning-images{{/if}}">
                {{#each this.images}}
                  <img alt="{{#if ../this.imageDescriptions}}{{../this.imageDescriptions}} (posted by {{../this.author.username}}){{else}}Image posted by {{../this.author.username}}{{#if ../this.imageTags}}, which may contain: {{../this.imageTags}}{{/if}}{{/if}}" class="post-single-image" src="{{this}}" data-featherlight="{{this}}"/>
                {{/each}}
              </div>
            {{/if}}
          </div>
        </div>
        <div class="row commentMetadata">
          <div class="col" style="display:flex;justify-content:space-between;">
            <div id="generalTools">
              {{#unless this.commentsDisabled}}
                {{#if ../loggedIn}}
                  {{#unless ../isMuted}}
                    <button type="button" class="btn btn-link btn-sm openReplyBox  post-action-button">
                      <i class="far fa-comment"></i> {{#if this.numberOfComments}}({{this.numberOfComments}}){{/if}}
                    </button>
                  {{else}}
                    {{#if this.numberOfComments}}
                      <button type="button" class="btn btn-link btn-sm openReplyBox  post-action-button">
                        <i class="far fa-comment"></i> {{#if this.numberOfComments}}({{this.numberOfComments}}){{/if}}
                      </button>
                    {{/if}}
                  {{/unless}}
                {{else}}
                  {{#if this.numberOfComments}}
                    <button type="button" class="btn btn-link btn-sm openReplyBox  post-action-button">
                      <i class="far fa-comment"></i> {{#if this.numberOfComments}}({{this.numberOfComments}}){{/if}}
                    </button>
                  {{/if}}
                {{/if}}
              {{/unless}}
              <a class="btn btn-link btn-sm post-action-button" href="/{{this.author.username}}/{{this.url}}">
                <i class="fas fa-link"></i>
              </a>
            </div>
            <div id="authorTools">
              {{#contains this.subscribedUsers ../loggedInUserData._id}}
                <button type="button" class="btn btn-link btn-sm mutePost post-action-button" data-post-id="{{this._id}}">
                  <i class="far fa-bell"></i>
                </button>
              {{/contains}}
              {{#contains this.unsubscribedUsers ../loggedInUserData._id}}
                <button type="button" class="btn btn-link btn-sm unmutePost post-action-button" data-post-id="{{this._id}}">
                  <i class="far fa-bell-slash"></i>
                </button>
              {{/contains}}
              {{#eq ../loggedInUserData.username this.owner}}
                <button type="submit" class="btn btn-link btn-sm deletePost  post-action-button" id="{{this.deleteid}}">
                  <i class="far fa-trash-alt"></i>
                </button>
              {{/eq}}
            </div>
          </div>
        </div>
        {{#unless this.commentsDisabled}}
          <div class="row replyContainer">
            <div class="repliesContainer">
            {{#if this.comments}}
              {{#each this.comments}}
              <div class="individualReplyContainer">
                <div class="mb-1 d-flex">
                  <img alt="Profile image of @{{this.author.username}}" class="postAuthorImage" style="width:25px;height:25px;border-radius:3px;" src="/images/{{#if this.author.imageEnabled}}{{this.author.image}}{{else}}cake.svg{{/if}}" />
                  <div class="comment-header">
                    <div class="comment-header-row-1">
                      {{#if this.author.displayName}}
                        <div class="author-display-name">
                          <strong><a class="authorLink" href="/{{this.author.username}}">{{this.author.displayName}}</a></strong>
                        </div>
                        <div class="author-username">
                          <span class="text-muted">@{{this.author.username}}</span>
                        </div>
                      {{else}}
                        <div class="author-username">
                          <strong><a class="authorLink" href="/{{this.author.username}}">@{{this.author.username}}</a></strong>
                        </div>
                      {{/if}} {{#contains ../../flaggedUsers this.author.email}}<i class="fas fa-exclamation-triangle text-danger user-flag"></i>{{/contains}}
                      <div class="comment-header-divider">
                        &middot;
                      </div>
                      <div class="commentTimestamp">
                        <small class="commentTimestamp text-muted">{{this.parsedTimestamp}}</small>
                      </div>
                      <button type="button" class="btn btn-link btn-xs replyToComment comment-button" data-username="{{this.author.username}}">
                        <i class="fas fa-reply"></i>
                      </button>
                      {{#if this.canDelete }}
                        <button type="button" class="btn btn-link btn-xs deleteComment comment-button" id="{{this._id}}" data-post-id="{{../_id}}" data-comment-id="{{this._id}}">
                          &times;
                        </button>
                      {{/if}}
                    </div>
                  </div>
                </div>
                {{{this.parsedContent}}}
              </div>
              {{/each}}
              {{/if}}
            </div>
            {{#if ../loggedIn}}
              {{#unless ../isMuted}}
                {{> newreplyform }}
              {{/unless}}
            {{/if}}
          </div>
        {{/unless}}
        </article>
    {{else}}
      {{!-- SECTION: Community post and the user is NOT a member of this community (we don't show the new comment form here)--}}
      {{#eq ../context "community"}}
        {{!-- SECTION: So we only show it if you're in the community --}}
        <article class="comment commentContainer" data-post-id="{{this._id}}">
          <div class="row">
            <div class="col commentContent">
              {{#eq this.type "boost"}}
                <p class="text-secondary">
                  <i class="fas fa-retweet"></i> Boosted by <strong><a href="/{{this.owner}}" class="text-secondary">@{{this.owner}}</a></strong>
                </p>
              {{/eq}}
              {{#if this.recentlyCommented}}
                {{#isnt this.lastCommentAuthor.username ../loggedInUserData.username}}
                  <p class="text-secondary">
                    <i class="far fa-comment"></i> Recently commented on by <strong><a href="/{{this.lastCommentAuthor.username}}" class="text-secondary">@{{this.lastCommentAuthor.username}}</a></strong>
                  </p>
                {{/isnt}}
              {{/if}}
              <div class="mb-3 d-flex">
                <img alt="Profile image of @{{this.author.username}}" class="postAuthorImage" src="/images/{{#if this.author.imageEnabled}}{{this.author.image}}{{else}}cake.svg{{/if}}" />
                <div class="post-header">
                  <div class="post-header-row-1">
                    {{#if this.author.displayName}}
                    <div class="author-display-name">
                      <strong><a class="authorLink" href="/{{this.author.username}}">{{this.author.displayName}}</a></strong>
                    </div>
                    <div class="author-username">
                      <span class="text-muted">@{{this.author.username}}</span>
                    </div>
                    {{else}}
                      <div class="author-username">
                        <strong><a class="authorLink" href="/{{this.author.username}}">@{{this.author.username}}</a></strong>
                      </div>
                    {{/if}} {{#contains ../flaggedUsers this.author.email}}<i class="fas fa-exclamation-triangle text-danger user-flag"></i>{{/contains}}
                  </div>
                  <div class="post-header-row-2">
                    <div class="post-timestamp-privacy">
                      <small class="commentTimestamp text-muted">{{this.parsedTimestamp}}</small><small class="text-muted"> &middot; {{#eq this.privacy "public"}}<i class="fas fa-eye"></i>{{else}}<i class="fas fa-eye-slash">{{/eq}}</i></small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="post-content {{#if this.contentWarnings}}content-warning-post{{/if}}">
                {{#if this.contentWarnings}}
                  <p class="content-warning">
                    {{this.contentWarnings}}
                  </p>
                  <a class="content-warning-show-more" data-state="contracted">Show post</a>
                  <div class="abbreviated-content content-warning-content" style="height:0">
                    {{{this.parsedContent}}}
                  </div>
                {{else}}
                  {{{this.parsedContent}}}
                {{/if}}
              </div>
              {{#if this.images}}
                <div class="post-images {{#if this.contentWarnings}}content-warning-images{{/if}}">
                  {{#each this.images}}
                    <img alt="{{#if ../this.imageDescriptions}}{{../this.imageDescriptions}} (posted by {{../this.author.username}}){{else}}Image posted by {{../this.author.username}}{{#if ../this.imageTags}}, which may contain: {{../this.imageTags}}{{/if}}{{/if}}" class="post-single-image" src="{{this}}" data-featherlight="{{this}}"/>
                  {{/each}}
                </div>
              {{/if}}
            </div>
          </div>
          <div class="row commentMetadata">
            <div class="col" style="display:flex;justify-content:space-between;">
              <div id="generalTools">
                {{#unless this.commentsDisabled}}
                  {{#if this.numberOfComments}}
                    <button type="button" class="btn btn-link btn-sm openReplyBox  post-action-button">
                      <i class="far fa-comment"></i> {{#if this.numberOfComments}}({{this.numberOfComments}}){{/if}}
                    </button>
                  {{/if}}
                {{/unless}}
                <a class="btn btn-link btn-sm post-action-button" href="/{{this.author.username}}/{{this.url}}">
                  <i class="fas fa-link"></i>
                </a>
              </div>
              <div id="authorTools">
                {{#contains this.subscribedUsers ../loggedInUserData._id}}
                  <button type="button" class="btn btn-link btn-sm mutePost post-action-button" data-post-id="{{this._id}}">
                    <i class="far fa-bell"></i>
                  </button>
                {{/contains}}
                {{#contains this.unsubscribedUsers ../loggedInUserData._id}}
                  <button type="button" class="btn btn-link btn-sm unmutePost post-action-button" data-post-id="{{this._id}}">
                    <i class="far fa-bell-slash"></i>
                  </button>
                {{/contains}}
                {{#eq ../loggedInUserData.username this.owner}}
                  <button type="submit" class="btn btn-link btn-sm deletePost  post-action-button" id="{{this.deleteid}}">
                    <i class="far fa-trash-alt"></i>
                  </button>
                {{/eq}}
              </div>
            </div>
          </div>
          {{#unless this.commentsDisabled}}
            <div class="row replyContainer">
              <div class="repliesContainer">
              {{#if this.comments}}
                {{#each this.comments}}
                <div class="individualReplyContainer">
                  <div class="mb-1 d-flex">
                    <img alt="Profile image of @{{this.author.username}}" class="postAuthorImage" style="width:25px;height:25px;border-radius:3px;" src="/images/{{#if this.author.imageEnabled}}{{this.author.image}}{{else}}cake.svg{{/if}}" />
                    <div class="comment-header">
                      <div class="comment-header-row-1">
                        {{#if this.author.displayName}}
                          <div class="author-display-name">
                            <strong><a class="authorLink" href="/{{this.author.username}}">{{this.author.displayName}}</a></strong>
                          </div>
                          <div class="author-username">
                            <span class="text-muted">@{{this.author.username}}</span>
                          </div>
                        {{else}}
                          <div class="author-username">
                            <strong><a class="authorLink" href="/{{this.author.username}}">@{{this.author.username}}</a></strong>
                          </div>
                        {{/if}} {{#contains ../../flaggedUsers this.author.email}}<i class="fas fa-exclamation-triangle text-danger user-flag"></i>{{/contains}}
                        <div class="comment-header-divider">
                          &middot;
                        </div>
                        <div class="commentTimestamp">
                          <small class="commentTimestamp text-muted">{{this.parsedTimestamp}}</small>
                        </div>
                        <button type="button" class="btn btn-link btn-xs replyToComment comment-button" data-username="{{this.author.username}}">
                          <i class="fas fa-reply"></i>
                        </button>
                        {{#if this.canDelete }}
                          <button type="button" class="btn btn-link btn-xs deleteComment comment-button" id="{{this._id}}" data-post-id="{{../_id}}" data-comment-id="{{this._id}}">
                            &times;
                          </button>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                  {{{this.parsedContent}}}
                </div>
                {{/each}}
                {{/if}}
              </div>
            </div>
          {{/unless}}
        </article>
      {{/eq}}
    {{/contains}}
  {{/isnt}}
{{/if}}
{{/each}}
