{{#each posts}}
{{#if canDisplay}}
  {{#isnt this.type "community"}}
    <article class="comment commentContainer" data-post-id="{{this._id}}">
      <div class="row">
        <div class="col commentContent">
          {{#if this.recentlyCommented}}
            {{#isnt this.lastCommentAuthor.username ../loggedInUserData.username}}
              <p class="text-secondary">
                <i class="far fa-comment"></i> Recently commented on by <strong><a href="/{{this.lastCommentAuthor.username}}" class="text-secondary">@{{this.lastCommentAuthor.username}}</a></strong>
              </p>
            {{/isnt}}
          {{/if}}
          {{#if headerBoosters}}
          <p class="text-secondary">
            <i class="fas fa-retweet"></i> Boosted by {{#each headerBoosters}}{{#unless @first}}{{#unless @last}}, {{/unless}}{{/unless}}{{#if @last}}{{#unless ../otherBoosters}}{{#if ../this.followedBoosters.[1]}} and {{/if}}{{/unless}}{{#if ../otherBoosters}}{{#unless @first}}, {{/unless}}{{/if}}{{/if}}<strong><a href="/{{#eq this 'you'}}{{../../loggedInUserData.username}}{{else}}{{this}}{{/eq}}" class="text-secondary">{{#eq this "you"}}{{else}}@{{/eq}}{{this}}</a></strong>{{/each}}{{#if otherBoosters}} and others <button type="button" class="fullBoostList btn btn-secondary btn-sm" data-toggle="modal" data-target="#boostersModal" data-users='{"followedBoosters":[{{#each followedBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}],"otherBoosters":[{{#each otherBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}]}'>Show all</button>{{/if}}{{#gt followedBoosters.length 3}} and others <button type="button" class="fullBoostList btn btn-secondary btn-sm" data-toggle="modal" data-target="#boostersModal" data-users='{"followedBoosters":[{{#each followedBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}],"otherBoosters":[{{#each otherBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}]}'>Show all</button>{{/gt}}
          </p>
          {{else}}
          {{#if otherBoosters}}
          <p class="text-secondary">
            <i class="fas fa-retweet"></i> Boosted by {{otherBoosters.length}} {{plural otherBoosters 'people/person'}} <button type="button" class="fullBoostList btn btn-secondary btn-sm" data-toggle="modal" data-target="#boostersModal" data-users='{"followedBoosters":[{{#each followedBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}],"otherBoosters":[{{#each otherBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}]}'>Show all</button>
          </p>
          {{/if}}
          {{/if}}
          {{#eq ../context "community"}}
          {{else}}
            {{#contains ../loggedInUserData.communities this.community._id}}
              <div class="text-secondary d-flex align-items-center mb-3">
                <img alt="Display image for the community '{{this.community.name}}'" style="width:20px;height:20px;border-radius:2px;" class="postAuthorImage mr-1" src="/images/communities/{{#if this.community.imageEnabled}}{{this.community.image}}{{else}}cake.svg{{/if}}" />
                <span>
                  Posted in <strong><a href="/community/{{this.community.slug}}" class="text-secondary">{{this.community.name}}</a></strong>
                </span>
              </div>
            {{/contains}}
          {{/eq}}
          <div class="mb-3 d-flex">
            <img alt="Profile image of @{{this.author.username}}" class="postAuthorImage" src="/images/{{#if this.author.imageEnabled}}{{this.author.image}}{{else}}cake.svg{{/if}}" />
            <div class="post-header">
              <div class="post-header-row-1">
                {{#if this.author.displayName}}
                <div class="author-display-name">
                  <strong><a class="authorLink" href="/{{this.author.username}}">{{this.author.displayName}}</a></strong>
                </div>
                <div class="author-username">
                  <span class="text-muted">@{{this.author.username}}</span>
                </div>
                {{else}}
                  <div class="author-username">
                    <strong><a class="authorLink" href="/{{this.author.username}}">@{{this.author.username}}</a></strong>
                  </div>
                {{/if}} {{#contains ../flaggedUsers this.author.email}}<i class="fas fa-exclamation-triangle text-danger user-flag"></i>{{/contains}}
              </div>
              <div class="post-header-row-2">
                <div class="post-timestamp-privacy">
                  <small class="commentTimestamp text-muted">{{this.parsedTimestamp}}</small><small class="text-muted"> &middot; {{#eq this.privacy "public"}}<i class="fas fa-eye"></i>{{else}}<i class="fas fa-eye-slash">{{/eq}}</i></small>
                </div>
              </div>
            </div>
          </div>
          <div class="post-content {{#if this.contentWarnings}}content-warning-post{{/if}}">
            {{#if this.contentWarnings}}
              <p class="content-warning">
                {{this.contentWarnings}}
              </p>
              <a class="content-warning-show-more" data-state="contracted">Show post</a>
              <div class="abbreviated-content content-warning-content" style="height:0">
                {{{this.parsedContent}}}
                {{#if this.linkPreview.url}}
                    <a class="link-preview-container" target="_blank" rel="noopener noreferrer" href="{{this.linkPreview.url}}">
                        <img class="link-preview-image" src="{{this.linkPreview.image}}" />
                        <div class="link-preview-text-container">
                            <span class="link-preview-title">{{this.linkPreview.title}}</span>
                            <span class="link-preview-description">{{this.linkPreview.description}}</span>
                            <span class="link-preview-domain">{{this.linkPreview.domain}}</span>
                        </div>
                    </a>
                {{/if}}
              </div>
            {{else}}
              {{{this.parsedContent}}}
              {{#if this.linkPreview.url}}
                  <a class="link-preview-container" target="_blank" rel="noopener noreferrer" href="{{this.linkPreview.url}}">
                      <img class="link-preview-image" src="{{this.linkPreview.image}}" />
                      <div class="link-preview-text-container">
                          <span class="link-preview-title">{{this.linkPreview.title}}</span>
                          <span class="link-preview-description">{{truncate (sanitize this.linkPreview.description) 120}}</span>
                          <span class="link-preview-domain">{{this.linkPreview.domain}}</span>
                      </div>
                  </a>
              {{/if}}
            {{/if}}
          </div>
          {{#if this.images}}
            {{> imagegallery }}
          {{/if}}
        </div>
      </div>
      <div class="row commentMetadata">
        <div class="col" style="display:flex;justify-content:space-between;">
          <div id="generalTools">
            {{#unless this.commentsDisabled}}
              {{#if ../loggedIn}}
                <button type="button" class="btn btn-link btn-sm openReplyBox  post-action-button">
                  <i class="far fa-comment"></i> {{#if this.numberOfComments}}({{this.numberOfComments}}){{/if}}
                </button>
              {{else}}
                {{#if this.numberOfComments}}
                  <button type="button" class="btn btn-link btn-sm openReplyBox  post-action-button">
                    <i class="far fa-comment"></i> {{#if this.numberOfComments}}({{this.numberOfComments}}){{/if}}
                  </button>
                {{/if}}
              {{/if}}
            {{/unless}}
            {{#eq this.privacy "public"}}
              {{#if ../loggedIn}}
                <form class="d-inline" action="/{{#if youBoosted}}remove{{else}}create{{/if}}boost/{{this._id}}" method="post">
                  <button type="submit" class="btn btn-link btn-sm boostPost  post-action-button">
                    {{#if youBoosted}}
                    <span class="fa-stack">
                      <i class="fas fa-stack-1x fa-retweet"></i>
                      <i class="fa-stack-1x fa-sm fas fa-slash fa-flip-horizontal fa-transform"></i>
                    </span>
                    {{else}}
                    <i class="fas fa-retweet"></i>
                    {{/if}}
                  </button>
                </form>
              {{/if}}
            {{/eq}}
            <a class="btn btn-link btn-sm post-action-button" href="/{{this.author.username}}/{{this.url}}">
              <i class="fas fa-link"></i>
            </a>
          </div>
          <div id="authorTools">
            {{#contains this.subscribedUsers ../loggedInUserData._id}}
              <button type="button" class="btn btn-link btn-sm mutePost post-action-button" data-post-id="{{this._id}}" data-toggle="tooltip" data-placement="left" title="Receiving notifications (click to change)">
                <i class="far fa-bell"></i>
              </button>
            {{/contains}}
            {{#contains this.unsubscribedUsers ../loggedInUserData._id}}
              <button type="button" class="btn btn-link btn-sm unmutePost post-action-button" data-post-id="{{this._id}}" data-toggle="tooltip" data-placement="left" title="Not receiving notifications (click to change)">
                <i class="far fa-bell-slash"></i>
              </button>
            {{/contains}}
            {{#if isYourPost}}
              <button type="submit" class="btn btn-link btn-sm deletePost  post-action-button" id="{{this.deleteid}}">
                <i class="far fa-trash-alt"></i>
              </button>
            {{/if}}
          </div>
        </div>
      </div>
      {{#unless this.commentsDisabled}}
        <div class="row replyContainer">
          <div class="repliesContainer">
          {{#if this.comments}}
            {{#each this.comments}}
            <div class="individualReplyContainer">
              <div class="mb-1 d-flex">
                <img alt="Profile image of @{{this.author.username}}" class="postAuthorImage" style="width:25px;height:25px;border-radius:3px;" src="/images/{{#if this.author.imageEnabled}}{{this.author.image}}{{else}}cake.svg{{/if}}" />
                <div class="comment-header">
                  <div class="comment-header-row-1">
                    {{#if this.author.displayName}}
                      <div class="author-display-name">
                        <strong><a class="authorLink" href="/{{this.author.username}}">{{this.author.displayName}}</a></strong>
                      </div>
                      <div class="author-username">
                        <span class="text-muted">@{{this.author.username}}</span>
                      </div>
                    {{else}}
                      <div class="author-username">
                        <strong><a class="authorLink" href="/{{this.author.username}}">@{{this.author.username}}</a></strong>
                      </div>
                    {{/if}} {{#contains ../../flaggedUsers this.author.email}}<i class="fas fa-exclamation-triangle text-danger user-flag"></i>{{/contains}}
                    <div class="comment-header-divider">
                      &middot;
                    </div>
                    <div class="commentTimestamp">
                      <small class="commentTimestamp text-muted">{{this.parsedTimestamp}}</small>
                    </div>
                    <button type="button" class="btn btn-link btn-xs replyToComment comment-button" data-username="{{this.author.username}}">
                      <i class="fas fa-reply"></i>
                    </button>
                    {{#if this.canDelete }}
                      <button type="button" class="btn btn-link btn-xs deleteComment comment-button" id="{{this._id}}" data-post-id="{{../_id}}" data-comment-id="{{this._id}}">
                        &times;
                      </button>
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class="comment-content">
                {{{this.parsedContent}}}
                {{#if this.images}}
                  {{> imagegallery }}
                {{/if}}
              </div>
            </div>
            {{/each}}
            {{/if}}
          </div>
          {{#if ../loggedIn}}
            {{> newreplyform }}
          {{/if}}
        </div>
      {{/unless}}
    </article>
  {{else}}
    {{#contains ../loggedInUserData.communities this.community._id}}
      {{!-- SECTION: Community post and the user is a member of this community --}}
      <article class="comment commentContainer" data-post-id="{{this._id}}">
        <div class="row">
          <div class="col commentContent">
            {{#if this.recentlyCommented}}
              {{#isnt this.lastCommentAuthor.username ../loggedInUserData.username}}
                <p class="text-secondary">
                  <i class="far fa-comment"></i> Recently commented on by <strong><a href="/{{this.lastCommentAuthor.username}}" class="text-secondary">@{{this.lastCommentAuthor.username}}</a></strong>
                </p>
              {{/isnt}}
            {{/if}}
            {{#if followedBoosters}}
            <p class="text-secondary">
              <i class="fas fa-retweet"></i> Boosted by {{#each followedBoosters}}{{#unless @first}}{{#unless @last}}, {{/unless}}{{/unless}}{{#if @last}}{{#unless ../otherBoosters}}{{#if ../this.followedBoosters.[1]}} and {{/if}}{{/unless}}{{#if ../otherBoosters}}{{#unless @first}}, {{/unless}}{{/if}}{{/if}}<strong><a href="/{{#eq this 'you'}}{{../../loggedInUserData.username}}{{else}}{{this}}{{/eq}}" class="text-secondary">{{#eq this "you"}}{{else}}@{{/eq}}{{this}}</a></strong>{{/each}}{{#if otherBoosters}} and others <button type="button" class="fullBoostList btn btn-secondary btn-sm" data-toggle="modal" data-target="#boostersModal" data-users='{"followedBoosters":[{{#each followedBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}],"otherBoosters":[{{#each otherBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}]}'>Show all</button>{{/if}}
            </p>
            {{else}}
            {{#if otherBoosters}}
            <p class="text-secondary">
              <i class="fas fa-retweet"></i> Boosted by {{otherBoosters.length}} {{plural otherBoosters 'people/person'}} <button type="button" class="fullBoostList btn btn-secondary btn-sm" data-toggle="modal" data-target="#boostersModal" data-users='{"followedBoosters":[{{#each followedBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}],"otherBoosters":[{{#each otherBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}]}'>Show all</button>
            </p>
            {{/if}}
            {{/if}}
            {{#isnt ../context "community"}}
              <div class="text-secondary d-flex align-items-center mb-3">
                <img alt="Display image for the community '{{this.community.name}}'" style="width:20px;height:20px;border-radius:2px;" class="postAuthorImage mr-1" src="/images/communities/{{#if this.community.imageEnabled}}{{this.community.image}}{{else}}cake.svg{{/if}}" />
                <span>
                  Posted in <strong><a href="/community/{{this.community.slug}}" class="text-secondary">{{this.community.name}}</a></strong>
                </span>
              </div>
            {{/isnt}}
            <div class="mb-3 d-flex">
              <img alt="Profile image of @{{this.author.username}}" class="postAuthorImage" src="/images/{{#if this.author.imageEnabled}}{{this.author.image}}{{else}}cake.svg{{/if}}" />
              <div class="post-header">
                <div class="post-header-row-1">
                  {{#if this.author.displayName}}
                  <div class="author-display-name">
                    <strong><a class="authorLink" href="/{{this.author.username}}">{{this.author.displayName}}</a></strong>
                  </div>
                  <div class="author-username">
                    <span class="text-muted">@{{this.author.username}}</span>
                  </div>
                  {{else}}
                    <div class="author-username">
                      <strong><a class="authorLink" href="/{{this.author.username}}">@{{this.author.username}}</a></strong>
                    </div>
                  {{/if}} {{#contains ../flaggedUsers this.author.email}}<i class="fas fa-exclamation-triangle text-danger user-flag"></i>{{/contains}}
                </div>
                <div class="post-header-row-2">
                  <div class="post-timestamp-privacy">
                    <small class="commentTimestamp text-muted">{{this.parsedTimestamp}}</small><small class="text-muted"> &middot; {{#eq this.privacy "public"}}<i class="fas fa-eye"></i>{{else}}<i class="fas fa-eye-slash">{{/eq}}</i></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="post-content {{#if this.contentWarnings}}content-warning-post{{/if}}">
              {{#if this.contentWarnings}}
                <p class="content-warning">
                  {{this.contentWarnings}}
                </p>
                <a class="content-warning-show-more" data-state="contracted">Show post</a>
                <div class="abbreviated-content content-warning-content" style="height:0">
                  {{{this.parsedContent}}}
                </div>
              {{else}}
                {{{this.parsedContent}}}
              {{/if}}
            </div>
            {{#if this.images}}
              {{> imagegallery }}
            {{/if}}
          </div>
        </div>
        <div class="row commentMetadata">
          <div class="col" style="display:flex;justify-content:space-between;">
            <div id="generalTools">
              {{#unless this.commentsDisabled}}
                {{#if ../loggedIn}}
                  {{#unless ../isMuted}}
                    <button type="button" class="btn btn-link btn-sm openReplyBox  post-action-button">
                      <i class="far fa-comment"></i> {{#if this.numberOfComments}}({{this.numberOfComments}}){{/if}}
                    </button>
                  {{else}}
                    {{#if this.numberOfComments}}
                      <button type="button" class="btn btn-link btn-sm openReplyBox  post-action-button">
                        <i class="far fa-comment"></i> {{#if this.numberOfComments}}({{this.numberOfComments}}){{/if}}
                      </button>
                    {{/if}}
                  {{/unless}}
                {{else}}
                  {{#if this.numberOfComments}}
                    <button type="button" class="btn btn-link btn-sm openReplyBox  post-action-button">
                      <i class="far fa-comment"></i> {{#if this.numberOfComments}}({{this.numberOfComments}}){{/if}}
                    </button>
                  {{/if}}
                {{/if}}
              {{/unless}}
              <a class="btn btn-link btn-sm post-action-button" href="/{{this.author.username}}/{{this.url}}">
                <i class="fas fa-link"></i>
              </a>
            </div>
            <div id="authorTools">
              {{#contains this.subscribedUsers ../loggedInUserData._id}}
                <button type="button" class="btn btn-link btn-sm mutePost post-action-button" data-post-id="{{this._id}}">
                  <i class="far fa-bell"></i>
                </button>
              {{/contains}}
              {{#contains this.unsubscribedUsers ../loggedInUserData._id}}
                <button type="button" class="btn btn-link btn-sm unmutePost post-action-button" data-post-id="{{this._id}}">
                  <i class="far fa-bell-slash"></i>
                </button>
              {{/contains}}
              {{#if isYourPost}}
                <button type="submit" class="btn btn-link btn-sm deletePost  post-action-button" id="{{this.deleteid}}">
                  <i class="far fa-trash-alt"></i>
                </button>
              {{/if}}
            </div>
          </div>
        </div>
        {{#unless this.commentsDisabled}}
          <div class="row replyContainer">
            <div class="repliesContainer">
            {{#if this.comments}}
              {{#each this.comments}}
              <div class="individualReplyContainer">
                <div class="mb-1 d-flex">
                  <img alt="Profile image of @{{this.author.username}}" class="postAuthorImage" style="width:25px;height:25px;border-radius:3px;" src="/images/{{#if this.author.imageEnabled}}{{this.author.image}}{{else}}cake.svg{{/if}}" />
                  <div class="comment-header">
                    <div class="comment-header-row-1">
                      {{#if this.author.displayName}}
                        <div class="author-display-name">
                          <strong><a class="authorLink" href="/{{this.author.username}}">{{this.author.displayName}}</a></strong>
                        </div>
                        <div class="author-username">
                          <span class="text-muted">@{{this.author.username}}</span>
                        </div>
                      {{else}}
                        <div class="author-username">
                          <strong><a class="authorLink" href="/{{this.author.username}}">@{{this.author.username}}</a></strong>
                        </div>
                      {{/if}} {{#contains ../../flaggedUsers this.author.email}}<i class="fas fa-exclamation-triangle text-danger user-flag"></i>{{/contains}}
                      <div class="comment-header-divider">
                        &middot;
                      </div>
                      <div class="commentTimestamp">
                        <small class="commentTimestamp text-muted">{{this.parsedTimestamp}}</small>
                      </div>
                      <button type="button" class="btn btn-link btn-xs replyToComment comment-button" data-username="{{this.author.username}}">
                        <i class="fas fa-reply"></i>
                      </button>
                      {{#if this.canDelete }}
                        <button type="button" class="btn btn-link btn-xs deleteComment comment-button" id="{{this._id}}" data-post-id="{{../_id}}" data-comment-id="{{this._id}}">
                          &times;
                        </button>
                      {{/if}}
                    </div>
                  </div>
                </div>
                <div class="comment-content">
                  {{{this.parsedContent}}}
                  {{#if this.images}}
                    {{> imagegallery }}
                  {{/if}}
                </div>
              </div>
              {{/each}}
              {{/if}}
            </div>
            {{#if ../loggedIn}}
              {{#unless ../isMuted}}
                {{> newreplyform }}
              {{/unless}}
            {{/if}}
          </div>
        {{/unless}}
        </article>
    {{else}}
      {{!-- SECTION: Community post and the user is NOT a member of this community (we don't show the new comment form here)--}}
      {{#eq ../context "community"}}
        {{!-- SECTION: So we only show it if you're in the community --}}
        <article class="comment commentContainer" data-post-id="{{this._id}}">
          <div class="row">
            <div class="col commentContent">
              {{#if this.recentlyCommented}}
                {{#isnt this.lastCommentAuthor.username ../loggedInUserData.username}}
                  <p class="text-secondary">
                    <i class="far fa-comment"></i> Recently commented on by <strong><a href="/{{this.lastCommentAuthor.username}}" class="text-secondary">@{{this.lastCommentAuthor.username}}</a></strong>
                  </p>
                {{/isnt}}
              {{/if}}
              {{#if followedBoosters}}
              <p class="text-secondary">
                <i class="fas fa-retweet"></i> Boosted by {{#each followedBoosters}}{{#unless @first}}{{#unless @last}}, {{/unless}}{{/unless}}{{#if @last}}{{#unless ../otherBoosters}}{{#if ../this.followedBoosters.[1]}} and {{/if}}{{/unless}}{{#if ../otherBoosters}}{{#unless @first}}, {{/unless}}{{/if}}{{/if}}<strong><a href="/{{#eq this 'you'}}{{../../loggedInUserData.username}}{{else}}{{this}}{{/eq}}" class="text-secondary">{{#eq this "you"}}{{else}}@{{/eq}}{{this}}</a></strong>{{/each}}{{#if otherBoosters}} and others <button type="button" class="fullBoostList btn btn-secondary btn-sm" data-toggle="modal" data-target="#boostersModal" data-users='{"followedBoosters":[{{#each followedBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}],"otherBoosters":[{{#each otherBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}]}'>Show all</button>{{/if}}
              </p>
              {{else}}
              {{#if otherBoosters}}
              <p class="text-secondary">
                <i class="fas fa-retweet"></i> Boosted by {{otherBoosters.length}} {{plural otherBoosters 'people/person'}} <button type="button" class="fullBoostList btn btn-secondary btn-sm" data-toggle="modal" data-target="#boostersModal" data-users='{"followedBoosters":[{{#each followedBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}],"otherBoosters":[{{#each otherBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}]}'>Show all</button>
              </p>
              {{/if}}
              {{/if}}
              <div class="mb-3 d-flex">
                <img alt="Profile image of @{{this.author.username}}" class="postAuthorImage" src="/images/{{#if this.author.imageEnabled}}{{this.author.image}}{{else}}cake.svg{{/if}}" />
                <div class="post-header">
                  <div class="post-header-row-1">
                    {{#if this.author.displayName}}
                    <div class="author-display-name">
                      <strong><a class="authorLink" href="/{{this.author.username}}">{{this.author.displayName}}</a></strong>
                    </div>
                    <div class="author-username">
                      <span class="text-muted">@{{this.author.username}}</span>
                    </div>
                    {{else}}
                      <div class="author-username">
                        <strong><a class="authorLink" href="/{{this.author.username}}">@{{this.author.username}}</a></strong>
                      </div>
                    {{/if}} {{#contains ../flaggedUsers this.author.email}}<i class="fas fa-exclamation-triangle text-danger user-flag"></i>{{/contains}}
                  </div>
                  <div class="post-header-row-2">
                    <div class="post-timestamp-privacy">
                      <small class="commentTimestamp text-muted">{{this.parsedTimestamp}}</small><small class="text-muted"> &middot; {{#eq this.privacy "public"}}<i class="fas fa-eye"></i>{{else}}<i class="fas fa-eye-slash">{{/eq}}</i></small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="post-content {{#if this.contentWarnings}}content-warning-post{{/if}}">
                {{#if this.contentWarnings}}
                  <p class="content-warning">
                    {{this.contentWarnings}}
                  </p>
                  <a class="content-warning-show-more" data-state="contracted">Show post</a>
                  <div class="abbreviated-content content-warning-content" style="height:0">
                    {{{this.parsedContent}}}
                  </div>
                {{else}}
                  {{{this.parsedContent}}}
                {{/if}}
              </div>
              {{#if this.images}}
                {{> imagegallery }}
              {{/if}}
            </div>
          </div>
          <div class="row commentMetadata">
            <div class="col" style="display:flex;justify-content:space-between;">
              <div id="generalTools">
                {{#unless this.commentsDisabled}}
                  {{#if this.numberOfComments}}
                    <button type="button" class="btn btn-link btn-sm openReplyBox  post-action-button">
                      <i class="far fa-comment"></i> {{#if this.numberOfComments}}({{this.numberOfComments}}){{/if}}
                    </button>
                  {{/if}}
                {{/unless}}
                <a class="btn btn-link btn-sm post-action-button" href="/{{this.author.username}}/{{this.url}}">
                  <i class="fas fa-link"></i>
                </a>
              </div>
              <div id="authorTools">
                {{#contains this.subscribedUsers ../loggedInUserData._id}}
                  <button type="button" class="btn btn-link btn-sm mutePost post-action-button" data-post-id="{{this._id}}">
                    <i class="far fa-bell"></i>
                  </button>
                {{/contains}}
                {{#contains this.unsubscribedUsers ../loggedInUserData._id}}
                  <button type="button" class="btn btn-link btn-sm unmutePost post-action-button" data-post-id="{{this._id}}">
                    <i class="far fa-bell-slash"></i>
                  </button>
                {{/contains}}
                {{#if isYourPost}}
                  <button type="submit" class="btn btn-link btn-sm deletePost  post-action-button" id="{{this.deleteid}}">
                    <i class="far fa-trash-alt"></i>
                  </button>
                {{/if}}
              </div>
            </div>
          </div>
          {{#unless this.commentsDisabled}}
            <div class="row replyContainer">
              <div class="repliesContainer">
              {{#if this.comments}}
                {{#each this.comments}}
                <div class="individualReplyContainer">
                  <div class="mb-1 d-flex">
                    <img alt="Profile image of @{{this.author.username}}" class="postAuthorImage" style="width:25px;height:25px;border-radius:3px;" src="/images/{{#if this.author.imageEnabled}}{{this.author.image}}{{else}}cake.svg{{/if}}" />
                    <div class="comment-header">
                      <div class="comment-header-row-1">
                        {{#if this.author.displayName}}
                          <div class="author-display-name">
                            <strong><a class="authorLink" href="/{{this.author.username}}">{{this.author.displayName}}</a></strong>
                          </div>
                          <div class="author-username">
                            <span class="text-muted">@{{this.author.username}}</span>
                          </div>
                        {{else}}
                          <div class="author-username">
                            <strong><a class="authorLink" href="/{{this.author.username}}">@{{this.author.username}}</a></strong>
                          </div>
                        {{/if}} {{#contains ../../flaggedUsers this.author.email}}<i class="fas fa-exclamation-triangle text-danger user-flag"></i>{{/contains}}
                        <div class="comment-header-divider">
                          &middot;
                        </div>
                        <div class="commentTimestamp">
                          <small class="commentTimestamp text-muted">{{this.parsedTimestamp}}</small>
                        </div>
                        <button type="button" class="btn btn-link btn-xs replyToComment comment-button" data-username="{{this.author.username}}">
                          <i class="fas fa-reply"></i>
                        </button>
                        {{#if this.canDelete }}
                          <button type="button" class="btn btn-link btn-xs deleteComment comment-button" id="{{this._id}}" data-post-id="{{../_id}}" data-comment-id="{{this._id}}">
                            &times;
                          </button>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                  <div class="comment-content">
                    {{{this.parsedContent}}}
                    {{#if this.images}}
                      {{> imagegallery }}
                    {{/if}}
                  </div>
                </div>
                {{/each}}
                {{/if}}
              </div>
            </div>
          {{/unless}}
        </article>
      {{/eq}}
    {{/contains}}
  {{/isnt}}
{{/if}}
{{/each}}
