{{#each posts}}
<article class="post" data-post-id="{{this._id}}">
    <aside class="notifications">
        {{#if recentlyCommented}}
            {{#isnt lastCommentAuthor.username ../loggedInUserData.username}}
                <div class="recently-commented-notification">
                    <i class="far fa-comment"></i> Recently commented on by <a href="/{{this.lastCommentAuthor.username}}">@{{this.lastCommentAuthor.username}}</a>
                </div>
            {{/isnt}}
        {{/if}}
        {{#if headerBoosters}}
            <div class="boosters-notification">
                <i class="fas fa-retweet"></i> Boosted by {{#each headerBoosters}}{{#unless @first}}{{#unless @last}}, {{/unless}}{{/unless}}{{#if @last}}{{#unless ../otherBoosters}}{{#if ../this.followedBoosters.[1]}} and {{/if}}{{/unless}}{{#if ../otherBoosters}}{{#unless @first}}, {{/unless}}{{/if}}{{/if}}<a href="/{{#eq this "you"}}{{../../loggedInUserData.username}}{{else}}{{this}}{{/eq}}">{{#eq this "you"}}{{else}}@{{/eq}}{{this}}</a>{{/each}}{{#if otherBoosters}} and others <button type="button" class="smol-button show-boosters-list button outline-button" data-toggle="modal" data-target="#boostersModal" data-users='{"followedBoosters":[{{#each followedBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}],"otherBoosters":[{{#each otherBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}]}'>show all</button>{{/if}}{{#gt followedBoosters.length 3}} and others <button type="button" class="smol-button show-boosters-list button outline-button" data-toggle="modal" data-target="#boostersModal" data-users='{"followedBoosters":[{{#each followedBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}],"otherBoosters":[{{#each otherBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}]}'>show all</button>{{/gt}}
            </div>
        {{else}}
            {{#if otherBoosters}}
                <div class="boosters-notification">
                    <i class="fas fa-retweet"></i> Boosted by {{plural otherBoosters 'some people/someone'}} you don't follow <button type="button" class="smol-button show-boosters-list button outline-button" data-toggle="modal" data-target="#boostersModal" data-users='{"followedBoosters":[{{#each followedBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}],"otherBoosters":[{{#each otherBoosters}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}]}'>show all</button>
                </div>
            {{/if}}
        {{/if}}
        {{#isnt ../context "community"}}
            {{#if this.community._id}}
                <div class="community-notification">
                    <img alt="Display image for the community '{{this.community.name}}'" src="/images/communities/{{#if this.community.imageEnabled}}{{this.community.image}}{{else}}cake.svg{{/if}}" />
                    <span>Posted in <a href="/community/{{this.community.slug}}">{{this.community.name}}</a></span>
                </div>
            {{/if}}
        {{/isnt}}
    </aside>
    <header>
        <div class="post-header-left">
            <a href="/{{this.author.username}}">
                <img class="author-image" alt="Profile image of @{{this.author.username}}" src="/images/{{#if this.author.imageEnabled}}{{this.author.image}}{{else}}cake.svg{{/if}}" />
            </a>
        </div>
        <div class="post-header-right">
            <h2 class="author-name">
                {{#if this.author.displayName}}
                    <span class="author-display-name">
                        <a href="/{{this.author.username}}">{{this.author.displayName}}</a>
                    </span>
                {{/if}}
                <span class="author-username">
                    {{#unless this.author.displayName}}<span style="font-weight:500"><a href="/{{this.author.username}}">{{/unless}}@{{this.author.username}}{{#unless this.author.displayName}}</a></span>{{/unless}}
                </span>
                {{#contains ../flaggedUsers this.author.email}}
                    <i class="fas fa-exclamation-triangle user-flag"></i>
                {{/contains}}
            </h2>
            <aside class="metadata">
                <span class="post-timestamp" title="posted {{this.fullTimestamp}}">
                    {{this.parsedTimestamp}}
                </span>
                &nbsp;&middot;&nbsp;
                <span class="post-visibility">
                    {{#eq this.privacy "public"}}<i class="fas fa-eye"></i>{{else}}<i class="fas fa-eye-slash"></i>{{/eq}}
                </span>
                {{#if lastEdited}}
                &nbsp;&middot;&nbsp;
                <span class="post-edited" title="last edited {{this.fullEditedTimestamp}}">Edited</span>
                {{/if}}
            </aside>
        </div>
    </header>
    <section class="content{{#if this.contentWarnings}} content-warning-post{{/if}}">
        {{#if this.contentWarnings}}
            <aside class="content-warning">
                {{this.contentWarnings}}
            </aside>
            <div class="abbreviated-content content-warning-content" style="height:0">
        {{/if}}
        {{{this.internalPostHTML}}}
        {{#if this.contentWarnings}}
            </div>
            <button type="button" class="button grey-button content-warning-show-more" data-state="contracted">Show post</button>
        {{/if}}
    </section>
    <footer class="toolbar">
        {{#unless this.commentsDisabled}}
            {{#if ../loggedIn}}
            <div class="toolbar-button-container">
            	<button type="button" class="button post-toolbar-button show-comments">
                	<i class="far fa-comment"></i> <span class="comments-number">{{#if this.numberOfComments}}{{this.numberOfComments}}{{/if}}</span>
                </button>
            </div>
            {{else}}
                {{#if this.numberOfComments}}
               		<div class="toolbar-button-container">
                    	<button type="button" class="button post-toolbar-button show-comments">
                        	<i class="far fa-comment"></i> <span class="comments-number">{{#if this.numberOfComments}}{{this.numberOfComments}}{{/if}}</span>
                    	</button>
                    </div>
                {{/if}}
            {{/if}}
        {{/unless}}
        {{#eq this.privacy "public"}}
            {{#if ../loggedIn}}
                {{#isnt this.type "community"}}
                    <div class="toolbar-button-container">
                        <form action="/{{#if youBoosted}}remove{{else}}create{{/if}}boost/{{this._id}}" method="post" class="post-toolbar-form">
                            <button type="submit" class="button post-toolbar-button boost-post">
                                {{#if youBoosted}}
                                    <span class="fa-layers fa-fw">
                                        <i class="fas fa-retweet"></i>
                                        <i class="fas fa-slash" data-fa-transform="rotate-90"></i>
                                    </span>
                                {{else}}
                                    <i class="fas fa-retweet"></i>
                                {{/if}}
                            </button>
                        </form>
                    </div>
                {{/isnt}}
            {{/if}}
        {{/eq}}
        <div class="toolbar-button-container">
            <a class="button post-toolbar-button" href="/{{this.author.username}}/{{this.url}}">
                <span class="fa-layers">
                  <i class="fas fa-bars" data-fa-transform="shrink-8"></i>
                  <i class="far fa-sticky-note"></i>
                </span>
            </a>
        </div>
        {{#contains this.subscribedUsers ../loggedInUserData._id}}
            <div class="toolbar-button-container">
                <button type="button" class="button post-toolbar-button unsubscribe-post tooltip-top" data-post-id="{{this._id}}" data-tooltip="Receiving notifications (click to change)">
                    <i class="far fa-bell"></i>
                </button>
            </div>
        {{else}}
            <div class="toolbar-button-container">
                <button type="button" class="button post-toolbar-button subscribe-post tooltip-top" data-post-id="{{this._id}}" data-tooltip="Not receiving notifications (click to change)">
                    <i class="far fa-bell-slash"></i>
                </button>
            </div>
        {{/contains}}
        {{#if isYourPost}}
            <div class="toolbar-button-container">
                <button type="button" class="button post-toolbar-button edit-post">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </div>
        	<div class="toolbar-button-container">
                <button type="button" class="button post-toolbar-button delete-post" id="{{this.deleteid}}">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
        {{/if}}
    </footer>
    {{#unless this.commentsDisabled}}
        <section class="comments{{#eq @root/activePage "singlepost"}} single-post-comments{{/eq}}">
            <div class="comments-container">
                {{#if this.comments}}
                    {{#each this.comments}}
                        {{> comment}}
                    {{/each}}
                {{/if}}
            </div>
            {{#if ../canReply}}
                {{> newreplyform }}
            {{/if}}
        </section>
    {{/unless}}
    {{#if @last}}
    <div class="oldesttimestamp" style="display:none;">{{../oldesttimestamp}}</div>
    {{/if}}
</article>
{{/each}}
