<a class="link-preview-container youtube-preview" target="_blank" rel="noopener noreferrer" embedurl="{{embedurl}}" href="{{linkurl}}">
    <div style="display:flex;justify-content:center;position:relative;">
    <img class="link-preview-image youtube-preview-image" src="{{image}}" />
    <img src="/images/fa-playbutton-red.svg" style="position:absolute;height:100%;">
    </div>
        <div class="link-preview-text-container">
            <span class="link-preview-title">{{title}}</span>
            <span class="link-preview-description">{{{description}}}</span>
            <span class="link-preview-domain">{{domain}}</span>
        </div>
</a>