{{#if isOwnProfile}}
<div class="row mb-3">
  <div class="col-6 d-flex">
{{/if}}
    <div id="profileImageContainer" class="{{#if isOwnProfile}}own-profile-image{{else}}user-image{{/if}}">
      <img alt="Profile image for the user @{{ profileData.username}}" id="profileImage" src="{{#if profileData.imageEnabled}}/images/{{profileData.image}}{{else}}/images/cake.svg{{/if}}" />
    </div>
{{#if isOwnProfile}}
  </div>
  <div class="col-6 d-flex align-items-start">
    <div class="btn-group-vertical w-100" role="group" aria-label="Profile control buttons" id="profileControlsDesktopMobile">
      <button type="button" class="btn btn-outline-secondary" id="updateProfileButton" data-toggle="modal" data-target="#updateProfileModal"><i class="fas fa-pencil-alt"></i> Edit</button>
      <a href="/settings" class="btn btn-outline-secondary"><i class="fas fa-cog"></i> Settings</a>
      <a href="/logout" class="btn btn-outline-secondary"><i class="fas fa-sign-out-alt"></i> Log out</a>
    </div>
  </div>
</div>
{{/if}}

<h3 class="page-header">
  {{#if profileData.displayName }}
    {{ profileData.displayName }}
  {{/if}}
  {{#if profileData.displayName }}<br /> <span class="text-muted small">{{/if}}@{{ profileData.username}}{{#if profileData.displayName }}</span>{{/if}}
</h3>
{{#if isOwnProfile}}
  <div class="btn-group-vertical w-100 mb-3" role="group" aria-label="Profile control buttons" id="profileControlsTablet">
    <button type="button" class="btn btn-outline-secondary" id="updateProfileButton" data-toggle="modal" data-target="#updateProfileModal"><i class="fas fa-pencil-alt"></i> Edit</button>
    <a href="/settings" class="btn btn-outline-secondary"><i class="fas fa-cog"></i> Settings</a>
    <a href="/logout" class="btn btn-outline-secondary"><i class="fas fa-sign-out-alt"></i> Log out</a>
  </div>
{{/if}}
{{#unless isOwnProfile}}
    <div class="user-tags">
        {{#if userTrustsYou}}
            <span class="tag tag-green">
                Trusts you
            </span>
        {{/if}}
        {{#if userFollowsYou}}
            <span class="tag tag-green">
                Follows you
            </span>
        {{/if}}
    </div>
{{/unless}}
{{#if profileData.aboutParsed}}
    <section class="profile-about">
        <p>
          {{{profileData.aboutParsed}}}
        </p>
    </section>
{{/if}}
{{#if profileData.pronouns}}
  <p>
    <i class="fas fa-fw fa-user-circle"></i> {{profileData.pronouns}}
  </p>
{{/if}}

{{#if profileData.location}}
  <p>
    <i class="fas fa-fw fa-map-marker-alt"></i> {{profileData.location}}
  </p>
{{/if}}
{{#if profileData.websiteParsed}}
  <p>
    <i class="fas fa-fw fa-link"></i> {{{profileData.websiteParsed}}}
  </p>
{{/if}}

{{#unless isOwnProfile}}
  {{#if loggedIn}}
    <div id="userActionsButtons" class="mb-2">
      <div class="btn-group btn-group-sm btn-group-full-width" role="group">
        {{#if followed}}
          <button type="button" id="unfollowButton" class="btn btn-secondary"><i class="fas fa-satellite-dish"></i> Unfollow</button>
        {{else}}
          <button type="button" id="followButton" class="btn btn-primary"><i class="fas fa-satellite-dish"></i> Follow</button>
        {{/if}}
        {{#if trusted}}
          <button type="button" id="untrustButton" class="btn btn-secondary">
            <i class="fas fa-lock"></i> Untrust
          </button>
        {{else}}
          <button type="button" id="trustButton" class="btn btn-success">
            <i class="fas fa-lock-open"></i> Trust
          </button>
        {{/if}}
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          {{#if flagged}}
            <button type="button" id="unflagButton" class="dropdown-item text-success"><i class="fas fa-check-circle"></i> Unflag</button>
          {{else}}
            <button type="button" id="flagButton" class="dropdown-item text-danger"><i class="fas fa-exclamation-triangle"></i> Flag</button>
          {{/if}}
          {{#if muted}}
            <button type="button" id="unmuteButton" class="dropdown-item text-success"><i class="fas fa-check-circle"></i> Unmute</button>
          {{else}}
            <button type="button" id="muteButton" class="dropdown-item text-dark"><i class="fas fa-comment-slash"></i> Mute</button>
          {{/if}}
        </div>
      </div>
    </div>
    {{#if numberOfFlagsFromTrustedUsers}}
      <div class="alert alert-danger w-100 my-2" style="text-align:center;">
        <i class="fas fa-exclamation-triangle"></i>
        {{numberOfFlagsFromTrustedUsers}} {{plural numberOfFlagsFromTrustedUsers 'person/people'}} you trust {{plural numberOfFlagsFromTrustedUsers 'has/have'}} flagged this user.
      </div>
    {{/if}}
    {{#if muted}}
      <div class="alert alert-dark w-100 my-2" style="text-align:center;">
        <i class="fas fa-comment-slash"></i>
        You have muted this user. Their posts are hidden from you.
      </div>
    {{/if}}
  {{/if}}
{{/unless}}

{{#and loggedIn trustedUserData }}
  {{#or userTrustsYou isOwnProfile}}
    <h5>Trusts{{#gt trustedUserData.length 30}} <a class="text-dark user-list-toggle collapsed" href="#trustedUsersList" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="trustedUsersList"><i class="fas fa-caret-right"></i></a>{{/gt}}</h5>
    <div id="trustedUsersList" class="user-list{{#gt trustedUserData.length 30}} collapse{{else}} d-flex{{/gt}}">
      {{#each trustedUserData}}
        <a href="/{{this.username}}" data-toggle="tooltip" title="@{{this.username}}"><img src="{{#if this.imageEnabled}}/images/{{this.image}}{{else}}/images/cake.svg{{/if}}" /></a>
      {{/each}}
      <div style="height:10px;width:100%;"></div>
    </div>
  {{/or}}
{{/and}}
{{#and loggedIn usersWhoTrustThemData }}
  <h5>Trusted by{{#gt usersWhoTrustThemData.length 30}} <a class="text-dark user-list-toggle collapsed" href="#trustedByUsersList" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="trustedByUsersList"><i class="fas fa-caret-right"></i></a>{{/gt}}</h5>
  <div id="trustedByUsersList" class="user-list{{#gt usersWhoTrustThemData.length 30}} collapse{{else}} d-flex{{/gt}}">
    {{#each usersWhoTrustThemData}}
      <a href="/{{this.username}}" data-toggle="tooltip" title="@{{this.username}}"><img src="{{#if this.imageEnabled}}/images/{{this.image}}{{else}}/images/cake.svg{{/if}}" /></a>
    {{/each}}
    <div style="height:10px;width:100%;"></div>
  </div>
{{/and}}
{{#if followedUserData}}
  <h5>Follows{{#gt followedUserData.length 2}} <a class="text-dark user-list-toggle collapsed" href="#followedUsersList" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="followedUsersList"><i class="fas fa-caret-right"></i></a>{{/gt}}</h5>
  <div id="followedUsersList" class="user-list{{#gt followedUserData.length 2}} collapse{{else}} d-flex{{/gt}}">
    {{#each followedUserData}}
      <a href="/{{this.username}}" data-toggle="tooltip" title="@{{this.username}}"><img src="{{#if this.imageEnabled}}/images/{{this.image}}{{else}}/images/cake.svg{{/if}}" /></a>
    {{/each}}
    <div style="height:10px;width:100%;"></div>
  </div>
{{/if}}
{{#if followersData}}
  <h5>Followed by{{#gt followersData.length 30}} <a class="text-dark user-list-toggle collapsed" href="#followersList" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="followersList"><i class="fas fa-caret-right"></i></a>{{/gt}}</h5>
  <div id="followersList" class="user-list{{#gt followersData.length 30}} collapse{{else}} d-flex{{/gt}}">
    {{#each followersData}}
      <a href="/{{this.username}}" data-toggle="tooltip" title="@{{this.username}}"><img src="{{#if this.imageEnabled}}/images/{{this.image}}{{else}}/images/cake.svg{{/if}}" /></a>
    {{/each}}
    <div style="height:10px;width:100%;"></div>
  </div>
{{/if}}
{{#if isOwnProfile}}
  {{#if flaggedUserData}}
    <h5>Flagged users{{#gt flaggedUserData.length 30}} <a class="text-dark user-list-toggle collapsed" href="#flaggedUsersList" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="flaggedUsersList"><i class="fas fa-caret-right"></i></a>{{/gt}}</h5>
      <div id="flaggedUsersList" class="user-list{{#gt flaggedUserData.length 30}} collapse{{else}} d-flex{{/gt}}">
        {{#each flaggedUserData}}
          <a href="/{{this.username}}" data-toggle="tooltip" title="@{{this.username}}"><img src="{{#if this.imageEnabled}}/images/{{this.image}}{{else}}/images/cake.svg{{/if}}" /></a>
        {{/each}}
        <div style="height:10px;width:100%;"></div>
      </div>
  {{/if}}
{{/if}}

{{#if communitiesData}}
  <h5>Communities{{#gt communitiesData.length 30}} <a class="text-dark user-list-toggle collapsed" href="#communitiesList" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="communitiesList"><i class="fas fa-caret-right"></i></a>{{/gt}}</h5>
  <div id="communitiesList" class="user-list{{#gt communitiesData.length 30}} collapse{{else}} d-flex{{/gt}}">
    {{#each communitiesData}}
      <a href="/community/{{this.slug}}" data-toggle="tooltip" title="{{this.name}}"><img src="/images/communities/{{#if this.imageEnabled}}{{this.image}}{{else}}cake.svg{{/if}}" /></a>
    {{/each}}
    <div style="height:10px;width:100%;"></div>
  </div>
{{/if}}
<script>
  $('.user-list.collapse').on('hide.bs.collapse', function () {
    $(this).prev().find(".user-list-toggle")[0].innerHTML = '<i class="fas fa-caret-right"></i>';
  })
  $('.user-list.collapse').on('show.bs.collapse', function () {
    $(this).prev().find(".user-list-toggle")[0].innerHTML = '<i class="fas fa-caret-down"></i>';
  })
</script>
