{{#each votes}}
{{#if canDisplay}}
<article class="post vote">
    <header>
        <div class="post-header-left">
            <a href="/{{this.creator.username}}">
                <img class="author-image" alt="Profile image of @{{this.creator.username}}" src="/images/{{#if this.creator.imageEnabled}}{{this.creator.image}}{{else}}cake.svg{{/if}}" />
            </a>
        </div>
        <div class="post-header-right">
            <h2 class="author-name">
                {{#if this.creator.displayName}}
                    <span class="author-display-name">
                        <a href="/{{this.author.username}}">{{this.creator.displayName}}</a>
                    </span>
                {{/if}}
                <span class="author-username">
                    {{#unless this.creator.displayName}}<span style="font-weight:500"><a href="/{{this.creator.username}}">{{/unless}}@{{this.creator.username}}{{#unless this.creator.displayName}}</a></span>{{/unless}}
                </span>
                {{#contains ../flaggedUsers this.creator.email}}
                    <i class="fas fa-exclamation-triangle user-flag"></i>
                {{/contains}}
            </h2>
            <aside class="metadata">
                <span class="post-timestamp">
                    {{this.parsedTimestamp}}
                </span>
            </aside>
        </div>
    </header>
    <section class="content">
        {{#eq this.group "uservotes"}}
            {{#eq this.reference "userban"}}
                <p>
                    <strong>Proposal to ban <a href="/{{this.userData.username}}"><span class="text-info">@{{this.userData.username}}</span></a> from {{../communityData.name}}.</strong>
                </p>
            {{/eq}}
            {{#eq this.reference "usermute"}}
                <p>
                    <strong>Proposal to mute <a href="/{{this.userData.username}}"><span class="text-info">@{{this.userData.username}}</span></a> in {{../communityData.name}}.</strong>
                </p>
            {{/eq}}
            {{#eq this.reference "userunban"}}
                <p>
                    <strong>Proposal to unban <a href="/{{this.userData.username}}"><span class="text-info">@{{this.userData.username}}</span></a> from {{../communityData.name}}.</strong>
                </p>
            {{/eq}}
            {{#eq this.reference "userunmute"}}
                <p>
                    <strong>Proposal to unmute <a href="/{{this.userData.username}}"><span class="text-info">@{{this.userData.username}}</span></a> in {{../communityData.name}}.</strong>
                </p>
            {{/eq}}
        {{else}}
            <p>
                <strong>Proposal to change the <span class="text-info">{{parsedReference}}</span> of {{../communityData.name}} to:</strong>
            </p>
            {{#eq this.reference "image"}}
                <div class="post-images one-image" style="margin-bottom:1rem;">
                    <img class="post-single-image" src="/images/communities/staging/{{this.proposedValue}}"/>
                </div>
            {{else}}
                <div class="message proposal-box">{{{this.parsedProposedValue}}}</div>
            {{/eq}}
        {{/eq}}
        <div class="vote-display mb-3">
            <span class="text-info"><strong>{{this.votes}}</strong></span> {{plural this.votes "vote(s)"}} out of <span class="text-info"><strong>{{../majorityMargin}}</strong></span> required to pass. This proposal will expire {{this.parsedExpiry}}.
        </div>
        {{#unless ../isMuted}}
            {{#contains this.voters ../loggedInUserData._id}}
                <button class="button mb-2 withdrawVoteButton community-action-button" data-vote-id="{{this._id}}">Withdraw your vote</button>
            {{else}}
                <button class="button mb-2 castVoteButton community-action-button" data-vote-id="{{this._id}}">Vote for this proposal</button>
            {{/contains}}
            {{#eq ../loggedInUserData.email this.creatorEmail}}
                <button class="button mb-2 deleteVoteButton community-action-button" data-vote-id="{{this._id}}">Delete proposal</button>
            {{/eq}}
        {{/unless}}
    </section>
</article>
{{/if}}
{{/each}}
