<!doctype html>

<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">
  <title>{{#unless metadata.title}}sweet{{else}}{{metadata.title}}{{/unless}}</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=BG7YpbbwpE">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=BG7YpbbwpE">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=BG7YpbbwpE">
  <link rel="manifest" href="/site.webmanifest?v=BG7YpbbwpE">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=BG7YpbbwpE" color="#5bbad5">
  <link rel="shortcut icon" href="/favicon.ico?v=BG7YpbbwpE">
  <meta name="msapplication-TileColor" content="#ce1717">
  <meta name="theme-color" content="#ffffff">

  <meta property="og:title" content="{{#unless metadata.title}}sweet{{else}}{{metadata.title}}{{/unless}}">
  <meta property="og:description" content="{{#unless metadata.description}}A trust and community-based lightweight social network.{{else}}{{metadata.description}}{{/unless}}">
  <meta property="og:image" content="{{#unless metadata.image}}https://sweet.sh/android-chrome-512x512.png{{else}}{{metadata.image}}{{/unless}}">
  <meta property="og:url" content="{{#unless metadata.url}}https://sweet.sh/{{else}}{{metadata.url}}{{/unless}}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{#unless metadata.title}}sweet{{else}}{{metadata.title}}{{/unless}}">
  <meta name="twitter:description" content="{{#unless metadata.description}}A trust and community-based lightweight social network.{{else}}{{metadata.description}}{{/unless}}">
  <meta name="twitter:image" content="{{#unless metadata.image}}https://sweet.sh/android-chrome-512x512.png{{else}}{{metadata.image}}{{/unless}}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="/css/reset.css"> -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/navbar-icons.css">
  <link id="darkModeStylesheet" rel="stylesheet" href="">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
  <script src="/js/autosize.min.js"></script>
  <script src="/js/jquery.uploadPreview.min.js"></script>
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css" type="text/css" rel="stylesheet" />
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.gallery.min.css" type="text/css" rel="stylesheet" />
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
  <link href="/css/image-upload-preview.css" type="text/css" rel="stylesheet" />
  <script src="/js/bootbox.min.js"></script>
  <link rel="stylesheet" href="/css/tribute.css" />
  <script src="/js/tribute.js"></script>

  <script src="/js/html5sortable.min.js"></script>

  <script src="/js/medium-editor.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/css/beagle.min.css" />

  {{> helperscripts }}

</head>

<body>

  {{> navbar }}

  <main id="bodyContainer" class="container" style="overflow:hidden;">

    {{{body}}}

  </main>

</body>

{{> scripts}}

</html>
