<div id="pageContainer" class="row">
  <div class="col-md-4 mx-2 mx-md-0 mb-3">
    {{> communitysidebar}}
  </div>
  <div class="col-md-7">
    {{#if isBanned}}
      <div class="message text-center">
        You have been banned from this community.
      </div>
    {{else}}
      <div id="mainBody" class="community-container">
        {{#unless loggedIn}}
        <div class="message w-100 text-center" style="font-size:1.4em;">
          <strong>{{ communityData.name }}</strong> is a community on <strong>sweet</strong>, a utopian social network. <a class="message-link" href="/signup">Join now</a>!
        </div>
        {{/unless}}
        {{> message }}
        {{#and loggedIn isMember}}
          {{#unless isMuted}}
            {{> newpostform }}
          {{else}}
            <div class="message text-center">
              You have been muted in this community. You are unable to post and your posts and votes have been made invisible. If you are unmuted, your posts and votes will be restored.
            </div>
          {{/unless}}
        {{/and}}
        {{#unless isMember}}
          {{#eq communityData.settings.visibility "public"}}
            <div class="container commentsList" id="postsContainer"></div>
          {{else}}
            <div class="message text-center">
              This community's posts are only visible to its members.
            </div>
          {{/eq}}
        {{else}}
          {{#if communityData.welcomeMessageParsed}}
            <div class="container commentsList" id="welcome-message-container">
              {{{ communityData.welcomeMessageParsed }}}
              <footer>
                  <div class="updated-by-text">
                      Updated by
                  </div>
                  <img alt="Profile image of @{{communityData.welcomeMessageAuthor.username}}" class="author-image" src="/images/{{#if communityData.welcomeMessageAuthor.imageEnabled}}{{communityData.welcomeMessageAuthor.image}}{{else}}cake.svg{{/if}}" />
                  <div class="welcome-message-container">
                      <h3 class="author-name">
                          {{#if communityData.welcomeMessageAuthor.displayName}}
                              <span class="author-display-name">
                                  <a href="/{{communityData.welcomeMessageAuthor.username}}">{{communityData.welcomeMessageAuthor.displayName}}</a>
                              </span>
                          {{/if}}
                          <span class="author-username">
                              {{#unless communityData.welcomeMessageAuthor.displayName}}<span style="font-weight:500"><a href="/{{communityData.welcomeMessageAuthor.username}}">{{/unless}}@{{communityData.welcomeMessageAuthor.username}}{{#unless communityData.welcomeMessageAuthor.displayName}}</a></span>{{/unless}}
                          </span>
                      </h3>
                  </div>
              </footer>
            </div>
          {{/if}}
          {{#gt votes.length 0 }}
            <div class="container commentsList" id="votesContainer">
              {{> votes}}
            </div>
          {{/gt}}
          <div class="container commentsList" id="postsContainer"></div>
          {{> infiniteScrollLoadingSpinner}}
        {{/unless}}
      </div>
      {{#if loggedIn}}
      <div id="requestsBody" class="community-container">
        <h3 class="page-header mx-2">Membership requests</h3>

        <div class="container" id="resultsContainer">
          {{#each communityData.membershipRequests}}
            <div class="content-box">
              <div class="row">
                <div class="col commentContent">
                  <div class="mb-2 d-lg-flex align-items-center" style="font-size:1.3em">
                    <div class="d-flex align-items-center">
                      <img class="postAuthorImage mr-2" src="/images/{{#if this.imageEnabled}}{{this.image}}{{else}}cake.svg{{/if}}" />
                      {{#if this.displayName}}
                        <strong><a class="authorLink" href="/{{this.username}}">{{this.displayName}}</a></strong> &middot; <span class="text-muted">@{{this.username}}</span>
                      {{else}}
                        <strong><a class="authorLink" href="/{{this.username}}">@{{this.username}}</a></strong>
                      {{/if}} {{#contains ../flaggedUsers this.email}}<i class="fas fa-exclamation-triangle text-danger"></i>{{/contains}}
                    </div>
                    <div class="ml-auto mt-2 mt-lg-0">
                      <button type="button" class="button community-action-button approveUser" data-user-id="{{this._id}}"><i class="fas fa-check-circle"></i> Approve</button>
                      <button type="button" class="button community-action-button rejectUser" data-user-id="{{this._id}}"><i class="fas fa-times-circle"></i> Reject</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div id="editBody" class="community-container">
        <h3 class="page-header mx-2">Community editor</h3>
        <div class="row">
          <div class="col-md-4">
            <div class="nav" id="community-editor-tabs" role="tablist" aria-orientation="vertical">
              <a class="nav-item nav-link active" id="nav-nameEditor-tab" data-toggle="tab" href="#nav-nameEditor" role="tab" aria-controls="nav-nameEditor" aria-selected="true">Name</a>
              <a class="nav-item nav-link" id="nav-descriptionEditor-tab" data-toggle="tab" href="#nav-descriptionEditor" role="tab" aria-controls="nav-descriptionEditor" aria-selected="false">Description</a>
              <a class="nav-item nav-link" id="nav-rulesEditor-tab" data-toggle="tab" href="#nav-rulesEditor" role="tab" aria-controls="nav-rulesEditor" aria-selected="false">Rules</a>
              <a class="nav-item nav-link" id="nav-welcomeMessageEditor-tab" data-toggle="tab" href="#nav-welcomeMessageEditor" role="tab" aria-controls="nav-welcomeMessageEditor" aria-selected="false">Welcome message</a>
              <a class="nav-item nav-link" id="nav-imageEditor-tab" data-toggle="tab" href="#nav-imageEditor" role="tab" aria-controls="nav-imageEditor" aria-selected="false">Image</a>
              <a class="nav-item nav-link" id="nav-visibilityEditor-tab" data-toggle="tab" href="#nav-visibilityEditor" role="tab" aria-controls="nav-visibilityEditor" aria-selected="false">Visibility</a>
              <a class="nav-item nav-link" id="nav-joinTypeEditor-tab" data-toggle="tab" href="#nav-joinTypeEditor" role="tab" aria-controls="nav-joinTypeEditor" aria-selected="false">Joining method</a>
              <a class="nav-item nav-link" id="nav-voteLengthEditor-tab" data-toggle="tab" href="#nav-voteLengthEditor" role="tab" aria-controls="nav-voteLengthEditor" aria-selected="false">Vote length</a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-nameEditor" role="tabpanel" aria-labelledby="nav-nameEditor-tab">
                <form action="/api/community/vote/create/{{communityData._id}}" method="post">
                  <div class="form-group">
                    <input type="hidden" name="reference" value="name" />
                    <label for="communityName">Name</label>
                    <input type="text" class="form-control" id="communityName" name="proposedValue" value="{{communityData.name}}">
                  </div>
                  <div class="form-group">
                    Your community's URL will be: <span class="text-info">https://sweet.sh/community/<span id="communitySlug"></span></span>
                  </div>
                  <button type="submit" class="button community-action-button">Create vote</button>
                </form>
              </div>
              <div class="tab-pane fade" id="nav-descriptionEditor" role="tabpanel" aria-labelledby="nav-descriptionEditor-tab">
                <form id="descriptionForm" action="/api/community/vote/create/{{communityData._id}}" method="post">
                  <input type="hidden" name="reference" value="description" />
                  <div class="form-group">
                    <label for="communityDescription">Description</label>
                    <div class="form-control" style="height:auto;" id="communityDescriptionHtml">{{{communityData.descriptionRaw}}}</div>
                    <input type="hidden" name="proposedValue" id="communityDescription">
                  </div>
                  <button type="submit" class="button community-action-button">Create vote</button>
                </form>
              </div>
              <div class="tab-pane fade" id="nav-rulesEditor" role="tabpanel" aria-labelledby="nav-rulesEditor-tab">
                <form id="rulesForm" action="/api/community/vote/create/{{communityData._id}}" method="post">
                  <input type="hidden" name="reference" value="rules" />
                  <div class="form-group">
                    <label for="communityRules">Rules</label>
                    <div class="form-control" style="height:auto;" id="communityRulesHtml">{{{communityData.rulesRaw}}}</div>
                    <input type="hidden" name="proposedValue" id="communityRules">
                  </div>
                  <button type="submit" class="button community-action-button">Create vote</button>
                </form>
              </div>
              <div class="tab-pane fade" id="nav-welcomeMessageEditor" role="tabpanel" aria-labelledby="nav-welcomeMessageEditor-tab">
                <form action="/api/community/welcomemessage/update/{{communityData._id}}" method="post">
                  <input type="hidden" name="reference" value="welcomeMessage" />
                  <div class="form-group">
                    <label for="communityWelcomeMessage">Welcome message</label>
                    <p class="small">
                      This message will appear above the posts in the community's main view. You can use it to welcome new members or remind members of news or important announcements.
                    </p>
                    <p class="small">
                      Unlike other community settings, the welcome message is changed immediately, with no vote.
                    </p>
                    <textarea class="form-control editable-post-content editable-text" id="communityWelcomeMessage" name="communityWelcomeMessage" rows="3">{{communityData.welcomeMessageRaw}}</textarea>
                  </div>
                  <button type="submit" class="button updateWelcomeMessage">Update</button>
                </form>
              </div>
              <div class="tab-pane fade" id="nav-imageEditor" role="tabpanel" aria-labelledby="nav-imageEditor-tab">
                <form action="/api/community/vote/create/{{communityData._id}}" method="post" enctype="multipart/form-data">
                  <div class="form-group">
                    <input type="hidden" name="reference" value="image" />
                    <input type="hidden" name="imageUrl" value="{{communityData.image}}" />
                    <label>Community image</label>
                    <div id="image-preview">
                      <label for="image-upload" id="image-label">Choose image</label>
                      <input type="file" name="proposedValue" id="image-upload" />
                    </div>
                  </div>
                  <button type="submit" class="button community-action-button" id="community-image-button">Create vote</button>
                </form>
              </div>
              <div class="tab-pane fade" id="nav-visibilityEditor" role="tabpanel" aria-labelledby="nav-visibilityEditor-tab">
                <form action="/api/community/vote/create/{{communityData._id}}" method="post">
                  <input type="hidden" name="reference" value="visibility" />
                  <div class="form-group">
                    <label for="communityVisibility">Post visibility (currently set to <strong>{{communityData.settings.visibility}}</strong>)</label>
                    <select class="form-control" id="communityVisibility" name="proposedValue">
                      <option value="public" {{#eq communityData.settings.visibility "public"}}selected{{/eq}}>Public (posts visible to all sweet users)</option>
                      <option value="private" {{#eq communityData.settings.visibility "private"}}selected{{/eq}}>Private (posts visible only to members)</option>
                    </select>
                  </div>
                  <button type="submit" class="button community-action-button">Create vote</button>
                </form>
              </div>
              <div class="tab-pane fade" id="nav-joinTypeEditor" role="tabpanel" aria-labelledby="nav-joinTypeEditor-tab">
                <form action="/api/community/vote/create/{{communityData._id}}" method="post">
                  <div class="form-group">
                    <input type="hidden" name="reference" value="joinType" />
                    <label for="communityJoinType">Joining method  (currently set to <strong>{{communityData.settings.joinType}}</strong>)</label>
                    <select class="form-control" id="communityJoinType" name="proposedValue">
                      <option value="open" {{#eq communityData.settings.joinType "open"}}selected{{/eq}}>Open (anyone is free to join)</option>
                      <option value="approval" {{#eq communityData.settings.joinType "approval"}}selected{{/eq}}>Approval (requests to join must be approved by a current member)</option>
                      <!-- <option value="closed" {{#eq communityData.settings.joinType "closed"}}selected{{/eq}}>Closed (only invited users can join)</option> -->
                    </select>
                  </div>
                  <button type="submit" class="button community-action-button">Create vote</button>
                </form>
              </div>
              <div class="tab-pane fade" id="nav-voteLengthEditor" role="tabpanel" aria-labelledby="nav-voteLengthEditor-tab">
                <form action="/api/community/vote/create/{{communityData._id}}" method="post">
                  <div class="form-group">
                    <input type="hidden" name="reference" value="voteLength" />
                    <label for="communityVoteLength">Vote length (currently set to <strong>{{communityData.settings.voteLength}} days</strong>)</label>
                    <select class="form-control" id="communityVoteLength" name="proposedValue">
                      <option value="1" {{#eq communityData.settings.voteLength 1}}selected{{/eq}}>1 day</option>
                      <option value="3" {{#eq communityData.settings.voteLength 3}}selected{{/eq}}>3 days</option>
                      <option value="7" {{#eq communityData.settings.voteLength 7}}selected{{/eq}}>7 days</option>
                      <option value="14" {{#eq communityData.settings.voteLength 14}}selected{{/eq}}>14 days</option>
                      <option value="30" {{#eq communityData.settings.voteLength 30}}selected{{/eq}}>30 days</option>
                    </select>
                  </div>
                  <button type="submit" class="button community-action-button">Create vote</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="membersBody" class="community-container">
        <h3 class="page-header mx-2">Member manager</h3>
        <div class="container" id="resultsContainer">
          {{#each communityData.members}}
            {{#contains this.mutedCommunities ../communityData._id}}
            {{else}}
              <div class="content-box">
                <div class="row">
                  <div class="col commentContent">
                    <div class="mb-2 d-lg-flex align-items-center">
                      <div class="d-flex align-items-center">
                        <img class="postAuthorImage mr-2" src="/images/{{#if this.imageEnabled}}{{this.image}}{{else}}cake.svg{{/if}}" />
                        {{#if this.displayName}}
                          <strong><a class="authorLink" href="/{{this.username}}">{{this.displayName}}</a></strong> &middot; <span class="text-muted">@{{this.username}}</span>
                        {{else}}
                          <strong><a class="authorLink" href="/{{this.username}}">@{{this.username}}</a></strong>
                        {{/if}} {{#contains ../flaggedUsers this.email}}<i class="fas fa-exclamation-triangle text-danger"></i>{{/contains}}
                      </div>
                      <div class="ml-auto mt-3 mt-lg-0">
                        <button type="button" class="button community-action-button muteUser" data-user-id="{{this._id}}"><i class="fas fa-comment-slash"></i> Mute</button>
                        <button type="button" class="button community-action-button banUser" data-user-id="{{this._id}}"><i class="fas fa-ban"></i> Ban</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/contains}}
          {{/each}}
        </div>
        {{#if communityData.mutedMembers}}
          <h5 class="mt-4 px-2">Muted users</h5>
          <div class="container" id="resultsContainer">
            {{#each communityData.mutedMembers}}
              <div class="content-box">
                <div class="row">
                  <div class="col commentContent">
                    <div class="mb-2 d-lg-flex align-items-center" style="font-size:1.3em">
                      <div class="d-flex align-items-center">
                        <img class="postAuthorImage mr-2" src="/images/{{#if this.imageEnabled}}{{this.image}}{{else}}cake.svg{{/if}}" />
                        {{#if this.displayName}}
                          <strong><a class="authorLink" href="/{{this.username}}">{{this.displayName}}</a></strong> &middot; <span class="text-muted">@{{this.username}}</span>
                        {{else}}
                          <strong><a class="authorLink" href="/{{this.username}}">@{{this.username}}</a></strong>
                        {{/if}} {{#contains ../flaggedUsers this.email}}<i class="fas fa-exclamation-triangle text-danger"></i>{{/contains}}
                      </div>
                      <div class="ml-auto mt-3 mt-lg-0">
                        <button type="button" class="button community-action-button unmuteUser" data-user-id="{{this._id}}"><i class="fas fa-comment"></i> Unmute</button>
                        {{#if this.isBanned}}
                          <button type="button" class="button community-action-button unbanUser" data-user-id="{{this._id}}"><i class="fas fa-check-circle"></i> Unban</button>
                        {{else}}
                          <button type="button" class="button community-action-button banUser" data-user-id="{{this._id}}"><i class="fas fa-ban"></i> Ban</button>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        {{/if}}
        {{#if communityData.bannedMembers}}
          <h5 class="mt-4 px-2">Banned users</h5>
          <div class="container" id="resultsContainer">
            {{#each communityData.bannedMembers}}
              <div class="content-box">
                <div class="row">
                  <div class="col commentContent">
                    <div class="mb-2 d-lg-flex align-items-center" style="font-size:1.3em">
                      <div class="d-flex align-items-center">
                        <img class="postAuthorImage mr-2" src="/images/{{#if this.imageEnabled}}{{this.image}}{{else}}cake.svg{{/if}}" />
                        {{#if this.displayName}}
                          <strong><a class="authorLink" href="/{{this.username}}">{{this.displayName}}</a></strong> &middot; <span class="text-muted">@{{this.username}}</span>
                        {{else}}
                          <strong><a class="authorLink" href="/{{this.username}}">@{{this.username}}</a></strong>
                        {{/if}} {{#contains ../flaggedUsers this.email}}<i class="fas fa-exclamation-triangle text-danger"></i>{{/contains}}
                      </div>
                      <div class="ml-auto mt-3 mt-lg-0">
                        <button type="button" class="button community-action-button unbanUser" data-user-id="{{this._id}}"><i class="fas fa-check-circle"></i> Unban</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        {{/if}}
      </div>
    {{/if}}
    {{/if}}
  </div>
</div>

{{#unless isBanned}}
<script>
  //called immediately below only atm
  function startInfiniteScroll(){
    $('#postsContainer').infiniteScroll({
      path: function() {
        return '/showposts/community/{{communityData._id}}/' + needPostsOlderThan;
      },
      append: '.post',
      prefill: true,
      history: true, //to be clear, this should not work
      status: '.page-load-status'
    });
  }
  startInfiniteScroll();

{{#if loggedIn}}

attachQuill(document.getElementById("communityDescriptionHtml"),"Write something. Highlight to format",true);
attachQuill(document.getElementById("communityRulesHtml"),"Write something. Highlight to format",true);

$("#rulesForm").submit(function(e){
  $(this).find("#communityRules").val($(this).find("#communityRulesHtml").find(".ql-editor").html());
  return true;
})

$("#descriptionForm").submit(function(e){
  $(this).find("#communityDescription").val($(this).find("#communityDescriptionHtml").find(".ql-editor").html());
  return true;
})

$('#community-image-button').click(function(e) {
  let button = $(this);
  if(button.parent().find("input[type='file']")){ //if a file is being submitted
    if(!button.parent().find("input[type='file']").val()){ //and its value isn't set
      bootbox.alert('No image file chosen! :/');
      e.preventDefault();
      return;
    }
  }
  button.prop('disabled', true);
  button.parent().submit();
})

$("#leaveButton").click(function() {
  var element = $(this);
  bootbox.confirm("Are you sure you want to leave this community?{{#eq communityData.settings.joinType "approval"}} You will need to be approved by a current member if you would like to join again.{{/eq}}", function(result){
    if (result == true) {
      $.post( "/api/community/user/leave/{{ communityData._id }}", function( result ) {
         location.reload();
       });
     }
  });
});

$("#joinButton").click(function() {
  $.post( "/api/community/user/join/{{ communityData._id }}", function( result ) {
     location.reload();
  });
});
$("#requestButton").click(function() {
  $.post( "/api/community/user/request/{{ communityData._id }}", function( result ) {
     location.reload();
  });
});

{{#if isMember}}

{{#unless isMuted}}

function slugify(string) {
    const a = 'àáäâãåăæçèéëêǵḧìíïîḿńǹñòóöôœṕŕßśșțùúüûǘẃẍÿź·/_,:;'
    const b = 'aaaaaaaaceeeeghiiiimnnnoooooprssstuuuuuwxyz------'
    const p = new RegExp(a.split('').join('|'), 'g')

    return string.toString().toLowerCase()
        .replace(/\s+/g, '-') // Replace spaces with -
        .replace(p, c => b.charAt(a.indexOf(c))) // Replace special characters
        .replace(/&/g, '-and-') // Replace & with 'and'
        .replace(/[^\w\-]+/g, '') // Remove all non-word characters
        .replace(/\-\-+/g, '-') // Replace multiple - with single -
        .replace(/^-+/, '') // Trim - from start of text
        .replace(/-+$/, '') // Trim - from end of text
  }

  $(document).on('input', '#communityName', function() {
    $("#communitySlug").text(slugify($(this).val()))
  });

$(".approveUser").click(function() {
  $.post( "/api/community/user/accept/{{ communityData._id }}/" + $(this).attr("data-user-id"), function( result ) {
     location.reload();
  });
});
$(".rejectUser").click(function() {
  var element = $(this);
  bootbox.confirm("Are you sure you want to reject this membership request?", function(result){
    if (result == true) {
      $.post( "/api/community/user/reject/{{ communityData._id }}/" + element.attr("data-user-id"), function( result ) {
         location.reload();
      });
    }
  });
});

$(".banUser").click(function() {
  var element = $(this);
  bootbox.confirm("This will create a vote to ban this user from the community. If the vote passes, their posts and votes in the community will be deleted, and they will not be able to rejoin the community unless the ban is lifted. Would you like to proceed?", function(result){
    if (result == true) {
      $.post( "/api/community/user/ban/{{ communityData._id }}/" + element.attr("data-user-id"), function( result ) {
         location.reload();
      });
    }
  });
});
$(".unbanUser").click(function() {
  var element = $(this);
  bootbox.confirm("This will create a vote to unban this user from the community. Would you like to proceed?", function(result){
    if (result == true) {
      $.post( "/api/community/user/unban/{{ communityData._id }}/" + element.attr("data-user-id"), function( result ) {
         location.reload();
      });
    }
  });
});
$(".muteUser").click(function() {
  var element = $(this);
  bootbox.confirm("This will create a vote to mute this community member. If the vote passes, their posts and votes in the community will be made invisible, and they will not be able to create new posts. If the mute is lifted, their posts and votes will reappear. Would you like to proceed?", function(result){
    if (result == true) {
      $.post( "/api/community/user/mute/{{ communityData._id }}/" + element.attr("data-user-id"), function( result ) {
         location.reload();
      });
    }
  });
});
$(".unmuteUser").click(function() {
  var element = $(this);
  bootbox.confirm("This will create a vote to unmute this community member. Would you like to proceed?", function(result){
    if (result == true) {
      $.post( "/api/community/user/unmute/{{ communityData._id }}/" + element.attr("data-user-id"), function( result ) {
         location.reload();
      });
    }
  });
});
$(".withdrawVoteButton").click(function() {
  $.post( "/api/community/vote/withdraw/{{ communityData._id }}/" + $(this).attr("data-vote-id"), function( result ) {
     location.reload();
  });
});
$(".castVoteButton").click(function() {
  $.post( "/api/community/vote/cast/{{ communityData._id }}/" + $(this).attr("data-vote-id"), function( result ) {
    var resultData = JSON.parse(result);
     if(resultData.redirect){
       window.location.replace(resultData.redirect);
     }else{
      location.reload();
     }
  });
});
$(".deleteVoteButton").click(function() {
  var element = $(this);
  bootbox.confirm("Are you sure you want to delete this proposal? If you wish to withdraw your own vote, click the 'Withdraw vote' button instead.", function(result){
    if (result == true) {
      $.post( "/api/community/vote/delete/" + element.attr("data-vote-id"), function( result ) {
         location.reload();
      });
    }
  })
});


$(".community-panel-link").click(function() {
  var element = $(this);
  var currentVisibility = element.attr("data-shown");
  $(".community-container").hide();
  $(".community-panel-link").each(function(i, link) {
    $(this).text($(this).attr("data-hidden-text"))
    $(this).attr("data-shown", "false")
  });
  if (currentVisibility == "false"){
    $(element.attr("data-target")).show();
    element.text(element.attr("data-shown-text"))
    element.attr("data-shown", "true")
  }
  else if (currentVisibility == "true"){
    $("#mainBody").show();
    element.text(element.attr("data-hidden-text"))
    element.attr("data-shown", "false")
  }
});

$("#image-upload").change(function (e) {
    var preview = $("#image-preview");
    var reader = new FileReader();
    reader.addEventListener("load", function () {
      preview.css('background-image',"url("+reader.result+")");
      $("#image-label").html("change image");
    }, false);
    if (this.files[0]) {
      reader.readAsDataURL(this.files[0]);
    }else{
      preview.css('background-image',"");
      $("#image-label").html("choose image");
    }
  })
$("#image-preview").css("background-image", "url('/images/communities/{{communityData.image}}')");
$("#image-preview").css("background-size", "cover");
$("#image-preview").css("background-position", "center center");
{{/unless}}
{{/if}}
{{/if}}
</script>
{{/unless}}
