<div id="homeBody" class="row justify-content-center">
  <div class="col-lg-8">
    <h3 class="page-header mx-2">Communities</h3>
    <ul class="nav nav-tabs" id="communitiesTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="communitiesListTab" data-toggle="tab" href="#communitiesList" role="tab" aria-controls="tabs-home" aria-selected="true">Joined</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="newCommunityTab" data-toggle="tab" href="#newCommunity" role="tab" aria-controls="newCommunityTab" aria-selected="false">Create new</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="directoryTab" data-toggle="tab" href="#directory" role="tab" aria-controls="directoryTab" aria-selected="false">Show all</a>
      </li>
    </ul>
    <div class="tab-content" id="communitiesTabContent">
      <div class="tab-pane fade show active" id="communitiesList" role="tabpanel" aria-labelledby="communitiesListTab">
        <div class="compact-container" id="resultsContainer">
          {{#each communities}}
            <div class="content-box">
              <div class="row">
                <div class="col commentContent">
                  <p class="mb-2" style="font-size:1.3em">
                    <img class="postAuthorImage" src="{{#if this.imageEnabled}}https://sweet-images.s3.amazonaws.com/communities/{{this.image}}{{else}}/images/communities/cake.svg{{/if}}" />
                    <strong><a class="authorLink" href="/community/{{this.slug}}">{{this.name}}</a></strong> &middot; <span class="text-muted">{{this.membersCount}} {{plural this.membersCount 'member(s)'}}</span>
                  </p>
                  <p>
                    {{{this.descriptionParsed}}}
                  </p>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="tab-pane fade" id="newCommunity" role="tabpanel" aria-labelledby="newCommunityTab">
        <p>
          Fill out this form to create a new community. Although you are the community's creator, on sweet all members of a community are equal, and there are no administrators or moderators. This means that you should make the choices below carefully, because after the community is created, you will only be able to change them by a majority vote!
        </p>

        {{> message }}

        <form id="newCommunityForm" action="/api/community/create" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="communityName">Name</label>
            <input type="text" class="form-control" id="communityName" name="communityName" maxlength="80" required value="{{sessionFlash.newCommunityData.communityName}}">
          </div>
          <div class="form-group">
            Your community's URL will be: <span class="text-info">https://sweet.sh/community/<span id="communitySlug"></span></span>
          </div>
          <div class="form-group">
            <label for="communityDescription">Description</label>
            <div class="form-control editable-text" style="height:auto;" id="communityDescriptionHtml">{{sessionFlash.newCommunityData.communityDescription}}</div>
            <input type="hidden" name="communityDescription" id="communityDescription">
          </div>
          <div class="form-group">
            <label for="communityRules">Rules</label>
            <div class="form-control editable-text" style="height:auto;" id="communityRulesHtml">{{#if  sessionFlash.newCommunityData.communityRules}}{{sessionFlash.newCommunityData.communityRules}}{{else}}Please follow the guidelines laid out in the Community Covenant, available to read here: https://community-covenant.net/version/1/0/{{/if}}</div>
            <input type="hidden" name="communityRules" id="communityRules">
          </div>
          <div class="form-group">
            <label for="communityVisibility">Post visibility</label>
            <select class="form-control" id="communityVisibility" name="communityVisibility">
              <option value="public" selected>Public (posts visible to all sweet users)</option>
              <option value="private">Private (posts visible only to members)</option>
            </select>
          </div>
          <div class="form-group">
            <label for="communityJoinType">Joining method</label>
            <select class="form-control" id="communityJoinType" name="communityJoinType">
              <option value="open" selected>Open (anyone is free to join)</option>
              <option value="approval">Approval (requests to join must be approved by a current member)</option>
              <!-- <option value="closed">Closed (only invited users can join)</option> -->
            </select>
          </div>
          <div class="form-group">
            <label for="communityVoteLength">Vote length</label>
            <select class="form-control" id="communityVoteLength" name="communityVoteLength">
              <option value="1">1 day</option>
              <option value="3">3 days</option>
              <option value="7" selected>7 days</option>
              <option value="14">14 days</option>
              <option value="30">30 days</option>
            </select>
            <span class="form-text">Changes in sweet communities are made through voting proposals, which run for this many days. If a proposal fails to get enough votes during this period, it will be deleted.</span>
          </div>
          <div class="form-group">
            <label>Community image (optional but strongly recommended!)</label>
            <div id="image-preview">
              <label for="image-upload" id="image-label">Choose image</label>
              <input type="file" name="imageUpload" id="image-upload" accept="image/*" />
            </div>
          </div>
          <button id="createCommunity" type="submit" class="button">Create</button>
        </form>
      </div>
      <div class="tab-pane fade show active" id="directory" role="tabpanel" aria-labelledby="directoryTab">
        <div class="compact-container" id="directoryResults" style="display:none;"></div>
        {{!--the page loading animation is hidden at the start bc the default starting tab is the "joined communities" one and that doesn't load stuff with infinite scroll --}}
        <div class="page-load-status" style="display:none;">
          <div class="loader-ellips infinite-scroll-request">
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
          </div>
          <p class="infinite-scroll-last">No more communities.</p>
          <p class="infinite-scroll-error">No more communities.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{> filemessage }}

<script type="text/javascript">

attachQuill(document.getElementById("communityDescriptionHtml"),"Write something. Highlight to format",true);
attachQuill(document.getElementById("communityRulesHtml"),"Write something. Highlight to format",true);

$("#newCommunityForm").submit(function(e){
  $("#communityRules").val($("#communityRulesHtml").find(".ql-editor").html());
  $("#communityDescription").val($("#communityDescriptionHtml").find(".ql-editor").html());
  return true;
})


  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    console.log(e.target) // newly activated tab
    if (e.target.id == "directoryTab"){
      $(".page-load-status").css("display", "inherit");
      $("#directoryResults").css("display", "inherit");
      $('#directoryResults').infiniteScroll({
        path: function() {
          var pageNumber = ( this.loadCount + 1 );
          return '/api/community/getall/' + pageNumber;
        },
        append: '.content-box',
        prefill: true,
        history: true,
        status: '.page-load-status'
      });
    }else{
      $(".page-load-status").css("display","none");
      $("#directoryResults").css("display", "none");
    }
  })

  $("#image-upload").change(function (e) {
    var preview = $("#image-preview");
    var reader = new FileReader();
    reader.addEventListener("load", function () {
      preview.css('background-image',"url("+reader.result+")");
      $("#image-label").html("change image");
    }, false);
    if (this.files[0]) {
      reader.readAsDataURL(this.files[0]);
    }else{
      preview.css('background-image',"");
      $("#image-label").html("choose image");
    }
  })
  $("#image-preview").css("background-size", "cover");
  $("#image-preview").css("background-position", "center center");

  function slugify(string) {
    const a = 'àáäâãåăæçèéëêǵḧìíïîḿńǹñòóöôœṕŕßśșțùúüûǘẃẍÿź·/_,:;'
    const b = 'aaaaaaaaceeeeghiiiimnnnoooooprssstuuuuuwxyz------'
    const p = new RegExp(a.split('').join('|'), 'g')

    return string.toString().toLowerCase()
        .replace(/\s+/g, '-') // Replace spaces with -
        .replace(p, c => b.charAt(a.indexOf(c))) // Replace special characters
        .replace(/&/g, '-and-') // Replace & with 'and'
        .replace(/[^\w\-]+/g, '') // Remove all non-word characters
        .replace(/\-\-+/g, '-') // Replace multiple - with single -
        .replace(/^-+/, '') // Trim - from start of text
        .replace(/-+$/, '') // Trim - from end of text
  }

  $(document).on('input', '#communityName', function() {
    $("#communitySlug").text(slugify($(this).val()))
  });

</script>
