<section id="homeBody" class="row justify-content-center">
    <div class="col-lg-7">
        <div id="home-app"></div>
    </div>
    {{#or loggedInUserData.settings.showRecommendations loggedInUserData.settings.showHashtags}}
        <div class="col-md-4 d-none d-lg-block" id="homeSidebar">
            <div class="sidebar__inner">
                <section class="admin-notices">
                  <h4>Sweet News</h4>
                  <hr />
                  <p><em>17 August 2020</em></p>
                  <p>Hi new and old Sweet users! We've been busy with bugfixes and new features. In the Android and iOS app, once the updates go through the app stores, notifications will take you to the post they're about, and more notification improvements are planned. There have been some small tweaks to the new post screen. We've also removed the email notifications and digest function. Please let us know in the <a href="https://sweet.sh/community/sweet-development">Sweet Development</a> community if you find a bug.</p>
                </section>
                {{#if loggedInUserData.settings.showRecommendations}}
                    <section class="recommendations">
                        <h4>Recommended</h4>
                        {{#neither userRecommendations popularCommunities}}
                            <hr />
                            <p style="font-weight: 300;">
                                Out of suggestions - invite your friends!
                            </p>
                        {{else}}
                            {{#or userRecommendations popularCommunities}}
                                <hr />
                            {{/or}}
                            {{#if userRecommendations}}
                                <h5>People</h5>
                                <div class="user-list">
                                  {{#each userRecommendations}}
                                    <div class="user-list-icon">
                                        <a href="/{{this.username}}" data-tooltip="@{{this.username}}" class="tooltip-top" data-weight="{{this.weight}}">
                                            <img src="{{#if this.imageEnabled}}https://sweet-images.s3.amazonaws.com/{{this.image}}{{else}}/images/cake.svg{{/if}}" />
                                        </a>
                                        <a href="#" class="hide-recommendation" data-type="user" data-target="{{this._id}}"><i class="fas fa-times-circle"></i></a>
                                    </div>
                                  {{/each}}
                                </div>
                            {{/if}}
                            {{#if popularCommunities}}
                                {{#if userRecommendations}}
                                    <hr />
                                {{/if}}
                                <h5>Communities</h5>
                                <div class="user-list">
                                    {{#each popularCommunities}}
                                        <div class="user-list-icon">
                                            <a href="/community/{{this.slug}}" data-tooltip="{{this.name}}" class="tooltip-top"><img src="{{#if this.imageEnabled}}https://sweet-images.s3.amazonaws.com/{{this.image}}{{else}}/images/communities/cake.svg{{/if}}" /></a>
                                            <a href="#" class="hide-recommendation" data-type="community" data-target="{{this._id}}"><i class="fas fa-times-circle"></i></a>
                                        </div>
                                    {{/each}}
                                </div>
                            {{/if}}
                        {{/neither}}
                        <p class="discovery-help-links">
                            <a href="#" id="display-recommendations-help">Huh?</a> &middot; <a href="/settings#discovery-settings">Hide</a>
                        </p>
                        <div class="recommendations-help-text">
                            <p class="small">
                                The list of recommended people is made up of people <strong>trusted</strong> by the people you trust and people <strong>followed</strong> by the people you trust. The recommended communities are those which have seen activity in the last two weeks and have someone you trust or follow in them.
                            </p>
                            <p class="small">
                                Click the cross next to an icon to hide that person or community from your recommendations.
                            </p>
                        </div>
                    </section>
                {{/if}}
                {{#if loggedInUserData.settings.showHashtags}}
                    <section class="hashtags">
                        <h4>Recent hashtags</h4>
                        <hr />
                        <div class="hashtags-list">
                            {{#each popularHashtags}}
                                <p>
                                    <a class="post__tag" href="/tag/{{this.name}}">#{{this.name}}</a>
                                </p>
                            {{/each}}
                        </div>
                        <p class="discovery-help-links">
                            <a href="/settings#discovery-settings">Hide</a>
                        </p>
                    </section>
                {{/if}}
                <section class="apps">
                  <h4>Download the Sweet app!</h4>
                  <hr />
                  <div style="display: flex;">
                    <a target="_blank" href="https://apps.apple.com/gb/app/sweet-your-social-network/id1511517895"><img src="/images/app-store-badge.png" alt="Download on the App Store" style="height:40px;margin-right: .25rem;"/></a>
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.rk.sweet"><img src="/images/google-play-badge.png" alt="Download on Google Play" style="height:40px;"/></a>
                  </div>
                </section>
            </div>
        </div>
    {{/or}}
</section>

{{> filemessage }}

<script src="/js/vue/home.js"></script>
