<div class="row">
  <div class="col-md-8">
    <h1>sweet <img class="bee-logo" src="/icons/bee-color.svg" /></h1>
    <p class="subtitle">
      a utopian social network
    </p>
    <p>
      Home to <strong>{{userCount}}</strong> people and <strong>{{communityCount}}</strong> communities
    </p>
    <div class='logged-out-communites-list'>
      {{#each communities}}
      <a href="/community/{{this.slug}}">
        <img
          src="{{#if this.imageEnabled}}https://sweet-images.s3.eu-west-2.amazonaws.com/{{this.image}}{{else}}/images/communities/cake.svg{{/if}}" />
        {{this.name}}
      </a>
      {{/each}}
    </div>
    <p style="text-align: center;">
      <a class="button large-button button-centered" href="/about">Learn more</a>
    </p>
  </div>
  <div class="col-md-4">

    <div class="logged-out-form">
      <h4>Download the Sweet app!</h4>
      <div style="display: flex;">
        <a target="_blank" href="https://apps.apple.com/gb/app/sweet-your-social-network/id1511517895"><img
            src="/images/app-store-badge.png" alt="Download on the App Store"
            style="height:40px;margin-right: .25rem;" /></a>
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.rk.sweet"><img
            src="/images/google-play-badge.png" alt="Download on Google Play" style="height:40px;" /></a>
      </div>
    </div>

    {{> message }}

    <form class="logged-out-form" id="login-form">
      <div v-if="errorMessage" class="form-group">
        <div class="message alert" v-html="errorMessage">
        </div>
      </div>
      <div class="form-group">
        <input type="text" name="email" placeholder="Email" v-model="email">
        <label for="email">Email</label>
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Password" v-model="password">
        <label for="password">Password</label>
      </div>
      <button class="button large-button full-width-button" type="submit" @click="handleLogin">
        <span v-if="loading">
          <i class="fas fa-spinner-third fa-pulse"></i>
        </span>
        <span v-else>Log in</span>
      </button>
      <a class="help-link" href="/forgot-password">Forgot password?</a>
    </form>

    <form class="logged-out-form" action="/signup" method="post">
      <p class="sidebar-text">Join sweet for ad-free, safer, democratically governed communites; queer- and
        trans-friendly spaces; flexible privacy settings; and the Internet's best post editor.</p>

      <div class="form-group">
        <input type="text" name="email" placeholder="Email" {{#if sessionFlash.email}}value="{{ sessionFlash.email }}"
          {{/if}}>
        <label for="email">Email</label>
        <small class="help-text">We don't spam you or share your data.</small>
      </div>
      <div class="form-group">
        <input type="text" name="username" placeholder="Username" maxlength="20"
          {{#if sessionFlash.username}}value="{{ sessionFlash.username }}" {{/if}}>
        <label for="username">Username</label>
        <small class="help-text">Lowercase letters, numbers, - (dash) and _ (underscore) only. 20 characters
          maximum.</small>
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Password">
        <label for="password">Password</label>
      </div>
      <div class="form-group">
        <input type="password" name="passwordrepeat" placeholder="Repeat password">
        <label for="passwordrepeat">Repeat password</label>
      </div>

      <button class="button large-button full-width-button" type="submit">Sign up</button>
    </form>
  </div>
</div>