<div id="userBody" class="row">
  <div class="col-md-4 mx-2 mx-md-0">
    {{#if loggedIn}}
    {{> usersidebar}}
    {{else}}
    {{#contains visibleSidebarArray profileData.settings.profileVisibility}}
    {{> usersidebar}}
    {{else}}
    <h3 class="page-header">
      @{{ profileData.username}}
    </h3>
    <p>
      Log in or sign up to see this profile!
    </p>
    {{/contains}}
    {{/if}}
  </div>
  <div class="col-md-7">
    <div id="mainBody" class="user-container">
      {{#and loggedIn isOwnProfile}}
      {{> newpostform }}
      {{/and}}
      {{#unless loggedIn}}
      <div class="message w-100 text-center" style="font-size:1.4em;">
        <strong>@{{ profileData.username }}</strong> is on <strong>sweet</strong>, a utopian social network. <a
          class="message-link" href="/signup">Join now</a>!
      </div>
      {{/unless}}
      {{#if loggedIn}}
      <div id="postsContainer"></div>
      {{> infiniteScrollLoadingSpinner}}
      {{else}}
      {{#eq profileData.settings.profileVisibility "profileAndPosts"}}
      <div id="postsContainer"></div>
      {{> infiniteScrollLoadingSpinner}}
      {{/eq}}
      {{/if}}
    </div>
    <div id="connectionsBody" class="pane user-container">
      <h3 class="page-header mx-2">Connections</h3>
      {{#and loggedIn trustedUserData }}
      {{#or userTrustsYou isOwnProfile}}
      <h4>Trusts</h4>
      <div class="compact-container">
        {{#each trustedUserData}}
          <div class="content-box">
            <div class="content-box-header">
                <img class="postAuthorImage mr-2" src="{{#if this.imageEnabled}}https://sweet-images.s3.amazonaws.com/{{this.image}}{{else}}/images/cake.svg{{/if}}" />
                {{#if this.displayName}}
                  <strong><a class="authorLink" href="/{{this.username}}">{{this.displayName}}</a></strong> &middot; <span class="text-muted">@{{this.username}}</span>
                {{else}}
                  <strong><a class="authorLink" href="/{{this.username}}">@{{this.username}}</a></strong>
                {{/if}} {{#contains ../flaggedUsers this.email}}<i class="fas fa-exclamation-triangle text-danger"></i>{{/contains}}
            </div>
          </div>
        {{/each}}
      </div>
      {{/or}}
      {{/and}}
      {{#and loggedIn usersWhoTrustThemData.length }}
      <h4>Trusted by</h4>
      <div class="compact-container">
        {{#each usersWhoTrustThemData}}
          <div class="content-box">
            <div class="content-box-header">
                <img class="postAuthorImage mr-2" src="{{#if this.imageEnabled}}https://sweet-images.s3.amazonaws.com/{{this.image}}{{else}}/images/cake.svg{{/if}}" />
                {{#if this.displayName}}
                  <strong><a class="authorLink" href="/{{this.username}}">{{this.displayName}}</a></strong> &middot; <span class="text-muted">@{{this.username}}</span>
                {{else}}
                  <strong><a class="authorLink" href="/{{this.username}}">@{{this.username}}</a></strong>
                {{/if}} {{#contains ../flaggedUsers this.email}}<i class="fas fa-exclamation-triangle text-danger"></i>{{/contains}}
            </div>
          </div>
        {{/each}}
      </div>
      {{/and}}
      {{#if followedUserData}}
      <h4>Follows</h4>
      <div class="compact-container">
      {{#each followedUserData}}
        <div class="content-box">
            <div class="content-box-header">
                <img class="postAuthorImage mr-2" src="{{#if this.imageEnabled}}https://sweet-images.s3.amazonaws.com/{{this.image}}{{else}}/images/cake.svg{{/if}}" />
                {{#if this.displayName}}
                  <strong><a class="authorLink" href="/{{this.username}}">{{this.displayName}}</a></strong> &middot; <span class="text-muted">@{{this.username}}</span>
                {{else}}
                  <strong><a class="authorLink" href="/{{this.username}}">@{{this.username}}</a></strong>
                {{/if}} {{#contains ../flaggedUsers this.email}}<i class="fas fa-exclamation-triangle text-danger"></i>{{/contains}}
            </div>
          </div>
      {{/each}}
      </div>
      {{/if}}
      {{#if followersData}}
      <h4>Followed by</h4>
      <div class="compact-container">
      {{#each followersData}}
        <div class="content-box">
            <div class="content-box-header">
                <img class="postAuthorImage mr-2" src="{{#if this.imageEnabled}}https://sweet-images.s3.amazonaws.com/{{this.image}}{{else}}/images/cake.svg{{/if}}" />
                {{#if this.displayName}}
                  <strong><a class="authorLink" href="/{{this.username}}">{{this.displayName}}</a></strong> &middot; <span class="text-muted">@{{this.username}}</span>
                {{else}}
                  <strong><a class="authorLink" href="/{{this.username}}">@{{this.username}}</a></strong>
                {{/if}} {{#contains ../flaggedUsers this.email}}<i class="fas fa-exclamation-triangle text-danger"></i>{{/contains}}
            </div>
          </div>
      {{/each}}
      </div>
      {{/if}}
      {{#if isOwnProfile}}
      {{#if flaggedUserData}}
      <h4>Flagged users</h4>
      <div class="compact-container">
      {{#each flaggedUserData}}
        <div class="content-box">
          <div class="content-box-header">
              <img class="postAuthorImage mr-2" src="{{#if this.imageEnabled}}https://sweet-images.s3.amazonaws.com/{{this.image}}{{else}}/images/cake.svg{{/if}}" />
              {{#if this.displayName}}
                <strong><a class="authorLink" href="/{{this.username}}">{{this.displayName}}</a></strong> &middot; <span class="text-muted">@{{this.username}}</span>
              {{else}}
                <strong><a class="authorLink" href="/{{this.username}}">@{{this.username}}</a></strong>
              {{/if}} {{#contains ../flaggedUsers this.email}}<i class="fas fa-exclamation-triangle text-danger"></i>{{/contains}}
          </div>
        </div>
      {{/each}}
      </div>
      {{/if}}
      {{/if}}

      {{#if communitiesData}}
      <h4>Communities</h5>
      <div class="compact-container">
      {{#each communitiesData}}
        <div class="content-box">
          <div class="content-box-header">
            <img class="postAuthorImage mr-2" src="{{#if this.imageEnabled}}https://sweet-images.s3.amazonaws.com/{{this.image}}{{else}}/images/communities/cake.svg{{/if}}" />
            <strong><a class="authorLink" href="/{{this.slug}}">{{this.name}}</a></strong>
          </div>
        </div>
      {{/each}}
      </div>
    {{/if}}
    </div>
  </div>
</div>

{{#if isOwnProfile}}
<div class="modal fade" id="updateProfileModal" tabindex="-1" role="dialog" aria-labelledby="updateProfileModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateProfileModalLabel">Update profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="updateProfileForm" action="/updateprofile" method="post" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label for="displayName">Display name</label>
            <input type="text" class="form-control" name="displayName" value="{{profileData.displayName}}"
              maxlength="50">
          </div>
          <div class="form-group">
            <label for="about">About</label>
            <textarea class="form-control" name="about" maxlength="500">{{profileData.aboutRaw}}</textarea>
          </div>
          <div class="form-group">
            <label for="pronouns">Pronouns</label>
            <input type="text" class="form-control" name="pronouns" value="{{profileData.pronouns}}" maxlength="50">
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" name="location" value="{{profileData.location}}" maxlength="50">
          </div>
          <div class="form-group">
            <label for="website">Website</label>
            <input type="text" class="form-control" name="website" value="{{profileData.websiteRaw}}" maxlength="50">
          </div>
          <label>Profile image (maximum file size 3MB)</label>
          <div id="image-preview">
            <label for="image-upload" id="image-label">Choose image</label>
            <input type="file" name="imageUpload" id="image-upload" accept="image/*" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="button" data-dismiss="modal">Close</button>
          <button type="submit" class="button">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{> filemessage }}
{{/if}}


<script>
  draftsMode = false;
  function startInfiniteScroll() {
    $('#postsContainer').infiniteScroll({
      path: function () {
        if ($(".oldesttimestamp").length) {
          //if there are posts on the page, the server has provided the timestamp of the oldest post yet loaded in a hidden element that we will find here
          return (draftsMode ? '/drafts/' : '/showposts/user/{{profileData._id}}/') + $(".oldesttimestamp").last().html();
        }
        //and then this is for when the feed is currently empty and being loaded/reloaded
        return (draftsMode ? '/drafts/' : '/showposts/user/{{profileData._id}}/') + needPostsOlderThan;
      },
      append: '.post',
      prefill: true,
      history: false,
      status: '.page-load-status'
    });
  }
  startInfiniteScroll();
  $(".user-panel-link").click(function () {
    var element = $(this);
    var currentVisibility = element.attr("data-shown");
    $(".user-container").hide();
    $(".user-panel-link").each(function (i, link) {
      $(this).html($(this).attr("data-hidden-text"))
      $(this).attr("data-shown", "false")
    });
    if (currentVisibility == "false") {
      $(element.attr("data-target")).show();
      element.html(element.attr("data-shown-text"))
      element.attr("data-shown", "true")
    }
    else if (currentVisibility == "true") {
      $("#mainBody").show();
      element.html(element.attr("data-hidden-text"))
      element.attr("data-shown", "false")
    }
  });

  {{#if isOwnProfile}}
  $(function () {
    $("#switch-to-drafts").click(function (e) {
      e.preventDefault();
      if (!draftsMode) {
        draftsMode = true;
        $("#pseudoPrivacy-draft").prop("checked", true); //set post form to create drafts when entering the drafts feed (silent - won't trigger the text)
        $(this).html('<span class="fa-layers fa-fw"><i class="fas fa-bars" data-fa-transform="shrink-8"></i><i class="far fa-sticky-note"></i></span> See posts');
        restartInfiniteScroll();
      } else {
        draftsMode = false;
        $(this).html('<i class="fas fa-pencil-ruler"></i> See drafts');
        //switch the post form back from the drafts setting when going back to posts feed (also won't trigger the text)
        $("#postPrivacy-{{profileData.settings.newPostPrivacy}}").prop("checked", true);
        restartInfiniteScroll();
      }
      //on mobile, the posts container is not on screen when this button is pushed, so let's scroll down to it once the feed loads with a one-time event listener
      var postsContainer = $("#postsContainer");
      if (getTop(postsContainer) > $(window).scrollTop() + $(window).height()) {
        function scrollToCont() {
          $('html').animate({ scrollTop: getTop($("#postForm")) - $("#topNav").outerHeight() }, 200);
          postsContainer.off("append.infiniteScroll", scrollToCont);
        }
        postsContainer.on("append.infiniteScroll", scrollToCont);
      }
    })
  })
  {{/if}}
</script>

{{> profilescripts}}