    {{#if editing}}
    <a class="link-preview-container" linkUrl="{{linkUrl}}" contenteditable="false">
    {{/if}}
    <img class="link-preview-image" {{#if editing}}src="{{image}}"{{else}}src="/images/spinner-stolen.gif"{{/if}} />
    <div class="link-preview-text-container" style="width:100%;">
        <span class="link-preview-title">{{#if editing}}{{title}}{{else}}...loading...{{/if}}</span>
        <span class="link-preview-description">{{#if editing}}{{description}}{{else}}...loading...{{/if}}</span>
        <span class="link-preview-domain">{{#if editing}}{{domain}}{{else}}...loading...{{/if}}</span>
    </div>
    <div class="image-preview-controls">
        <div class="image-control image-clear" title="Clear"><i class="fas fa-times"></i></div>
        <div class="image-control image-move" title="Move" ondragstart="return false;" ondrop="return false;"><i class="fas fa-arrows-alt"></i></div>
    </div>
    {{#if editing}}
    </a>
    {{/if}}